
<div>
    <h2><span>Academic Certificate</span> {{vm.academicCertificate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Md 5 Key</span></dt>
        <dd>
            <span>{{vm.academicCertificate.md5Key}}</span>
        </dd>
        <dt><span>Academic Certificate 1</span></dt>
        <dd>
            <div ng-if="vm.academicCertificate.academicCertificate1">
                <a ng-click="vm.openFile(vm.academicCertificate.academicCertificate1ContentType, vm.academicCertificate.academicCertificate1)">open</a>
                {{vm.academicCertificate.academicCertificate1ContentType}}, {{vm.byteSize(vm.academicCertificate.academicCertificate1)}}
            </div>
        </dd>
        <dt><span>Academic Certificate 2</span></dt>
        <dd>
            <div ng-if="vm.academicCertificate.academicCertificate2">
                <a ng-click="vm.openFile(vm.academicCertificate.academicCertificate2ContentType, vm.academicCertificate.academicCertificate2)">open</a>
                {{vm.academicCertificate.academicCertificate2ContentType}}, {{vm.byteSize(vm.academicCertificate.academicCertificate2)}}
            </div>
        </dd>
        <dt><span>Academic Certificate 3</span></dt>
        <dd>
            <div ng-if="vm.academicCertificate.academicCertificate3">
                <a ng-click="vm.openFile(vm.academicCertificate.academicCertificate3ContentType, vm.academicCertificate.academicCertificate3)">open</a>
                {{vm.academicCertificate.academicCertificate3ContentType}}, {{vm.byteSize(vm.academicCertificate.academicCertificate3)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="academic-certificate-detail.edit({id:vm.academicCertificate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
