
<div>
    <h2><span>Online Application</span> {{vm.onlineApplication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date Of Birth</span></dt>
        <dd>
            <span>{{vm.onlineApplication.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{vm.onlineApplication.telephone}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{vm.onlineApplication.email}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{vm.onlineApplication.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{vm.onlineApplication.state}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{vm.onlineApplication.country}}</span>
        </dd>
        <dt><span>Postcode</span></dt>
        <dd>
            <span>{{vm.onlineApplication.postcode}}</span>
        </dd>
        <dt><span>Registration Datetime</span></dt>
        <dd>
            <span>{{vm.onlineApplication.registrationDatetime | date:'medium'}}</span>
        </dd>
        <dt><span>Surname</span></dt>
        <dd>
            <span>{{vm.onlineApplication.surname}}</span>
        </dd>
        <dt><span>Given Name</span></dt>
        <dd>
            <span>{{vm.onlineApplication.givenName}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{vm.onlineApplication.address}}</span>
        </dd>
        <dt><span>Profile Photo</span></dt>
        <dd>
            <div ng-if="vm.onlineApplication.profilePhoto">
                <a ng-click="vm.openFile(vm.onlineApplication.profilePhotoContentType, vm.onlineApplication.profilePhoto)">
                    <img data-ng-src="{{'data:' + vm.onlineApplication.profilePhotoContentType + ';base64,' + vm.onlineApplication.profilePhoto}}" style="max-width: 100%;" alt="onlineApplication image"/>
                </a>
                {{vm.onlineApplication.profilePhotoContentType}}, {{vm.byteSize(vm.onlineApplication.profilePhoto)}}
            </div>
        </dd>
        <dt><span>Academic Certificate</span></dt>
        <dd>
            <div ng-if="vm.onlineApplication.academicCertificate">
                <a ng-click="vm.openFile(vm.onlineApplication.academicCertificateContentType, vm.onlineApplication.academicCertificate)">open</a>
                {{vm.onlineApplication.academicCertificateContentType}}, {{vm.byteSize(vm.onlineApplication.academicCertificate)}}
            </div>
        </dd>
        <dt><span>Letter Of Recommendation</span></dt>
        <dd>
            <div ng-if="vm.onlineApplication.letterOfRecommendation">
                <a ng-click="vm.openFile(vm.onlineApplication.letterOfRecommendationContentType, vm.onlineApplication.letterOfRecommendation)">open</a>
                {{vm.onlineApplication.letterOfRecommendationContentType}}, {{vm.byteSize(vm.onlineApplication.letterOfRecommendation)}}
            </div>
        </dd>
        <dt><span>Profile Document</span></dt>
        <dd>
            <div ng-if="vm.onlineApplication.profileDocument">
                <a ng-click="vm.openFile(vm.onlineApplication.profileDocumentContentType, vm.onlineApplication.profileDocument)">open</a>
                {{vm.onlineApplication.profileDocumentContentType}}, {{vm.byteSize(vm.onlineApplication.profileDocument)}}
            </div>
        </dd>
        <dt><span>Md 5 Key</span></dt>
        <dd>
            <span>{{vm.onlineApplication.md5key}}</span>
        </dd>
        <dt><span>Course</span></dt>
        <dd>
            <a ui-sref="course-detail({id:vm.onlineApplication.course.id})">{{vm.onlineApplication.course.title}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="online-application-detail.edit({id:vm.onlineApplication.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
