<div>
    <h2>Online Applications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="online-application.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Online Application
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateOfBirth"><span>Date Of Birth</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telephone"><span>Telephone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span>City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span>State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span>Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postcode"><span>Postcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registrationDatetime"><span>Registration Datetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="surname"><span>Surname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="givenName"><span>Given Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span>Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profilePhoto"><span>Profile Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="academicCertificate"><span>Academic Certificate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="letterOfRecommendation"><span>Letter Of Recommendation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profileDocument"><span>Profile Document</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="md5key"><span>Md 5 Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="course.title"><span>Course</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="onlineApplication in vm.onlineApplications track by onlineApplication.id">
                    <td><a ui-sref="online-application-detail({id:onlineApplication.id})">{{onlineApplication.id}}</a></td>
                        <td>{{onlineApplication.dateOfBirth | date:'mediumDate'}}</td>
                    <td>{{onlineApplication.telephone}}</td>
                    <td>{{onlineApplication.email}}</td>
                    <td>{{onlineApplication.city}}</td>
                    <td>{{onlineApplication.state}}</td>
                    <td>{{onlineApplication.country}}</td>
                    <td>{{onlineApplication.postcode}}</td>
                    <td>{{onlineApplication.registrationDatetime | date:'medium'}}</td>
                    <td>{{onlineApplication.surname}}</td>
                    <td>{{onlineApplication.givenName}}</td>
                    <td>{{onlineApplication.address}}</td>
                    <td>
                        <a ng-if="onlineApplication.profilePhoto" ng-click="vm.openFile(onlineApplication.profilePhotoContentType, onlineApplication.profilePhoto)">
                            <img data-ng-src="{{'data:' + onlineApplication.profilePhotoContentType + ';base64,' + onlineApplication.profilePhoto}}" style="max-height: 30px;" alt="onlineApplication image"/>
                        </a>
                        <span ng-if="onlineApplication.profilePhoto">{{onlineApplication.profilePhotoContentType}}, {{vm.byteSize(onlineApplication.profilePhoto)}}</span>
                    </td>
                    <td>
                        <a ng-if="onlineApplication.academicCertificate" ng-click="vm.openFile(onlineApplication.academicCertificateContentType, onlineApplication.academicCertificate)">open</a>
                        <span ng-if="onlineApplication.academicCertificate">{{onlineApplication.academicCertificateContentType}}, {{vm.byteSize(onlineApplication.academicCertificate)}}</span>
                    </td>
                    <td>
                        <a ng-if="onlineApplication.letterOfRecommendation" ng-click="vm.openFile(onlineApplication.letterOfRecommendationContentType, onlineApplication.letterOfRecommendation)">open</a>
                        <span ng-if="onlineApplication.letterOfRecommendation">{{onlineApplication.letterOfRecommendationContentType}}, {{vm.byteSize(onlineApplication.letterOfRecommendation)}}</span>
                    </td>
                    <td>
                        <a ng-if="onlineApplication.profileDocument" ng-click="vm.openFile(onlineApplication.profileDocumentContentType, onlineApplication.profileDocument)">open</a>
                        <span ng-if="onlineApplication.profileDocument">{{onlineApplication.profileDocumentContentType}}, {{vm.byteSize(onlineApplication.profileDocument)}}</span>
                    </td>
                    <td>{{onlineApplication.md5key}}</td>
                    <td>
                        <a ui-sref="course-detail({id:onlineApplication.course.id})">{{onlineApplication.course.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="online-application-detail({id:onlineApplication.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="online-application.edit({id:onlineApplication.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="online-application.delete({id:onlineApplication.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
