<div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span>Online Application</span> {{vm.onlineApplication.id}}
			</h3>
		</div>
		<table class="table table-bordered">
			<tr>
				<th width="300px">Registration Datetime</th>
				<td>{{vm.onlineApplication.registrationDatetime |
					date:'medium'}}</td>
			</tr>
			<tr>
				<th>Course</th>
				<td>{{vm.onlineApplication.course.title}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{vm.onlineApplication.email}}</td>
			</tr>
			<tr>
				<th>Surname</th>
				<td>{{vm.onlineApplication.surname}}</td>
			</tr>
			<tr>
				<th>Given Name</th>
				<td>{{vm.onlineApplication.givenName}}</td>
			</tr>
			<tr>
				<th>Date Of Birth</th>
				<td>{{vm.onlineApplication.dateOfBirth | date:'mediumDate'}}</td>
			</tr>
			<tr>
				<th>Telephone</th>
				<td>{{vm.onlineApplication.telephone}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{vm.onlineApplication.address}}</td>
			</tr>
			<tr>
				<th>City</th>
				<td>{{vm.onlineApplication.city}}</td>
			</tr>
			<tr>
				<th>State</th>
				<td>{{vm.onlineApplication.state}}</td>
			</tr>
			<tr>
				<th>Country</th>
				<td>{{vm.onlineApplication.country}}</td>
			</tr>
			<tr>
				<th>Postcode</th>
				<td>{{vm.onlineApplication.postcode}}</td>
			</tr>
			<tr>
				<th>Profile Photo</th>
				<td><div ng-if="vm.onlineApplication.profilePhoto">
						<a
							ng-click="vm.openFile(vm.onlineApplication.profilePhotoContentType, vm.onlineApplication.profilePhoto)">
							<img
							data-ng-src="{{'data:' + vm.onlineApplication.profilePhotoContentType + ';base64,' + vm.onlineApplication.profilePhoto}}"
							style="max-width: 100%;" alt="onlineApplication image" />
						</a> {{vm.onlineApplication.profilePhotoContentType}},
						{{vm.byteSize(vm.onlineApplication.profilePhoto)}}
					</div></td>
			</tr>
			<tr>
				<th>Academic Certificate</th>
				<td><div ng-if="vm.onlineApplication.academicCertificate">
						<a
							ng-click="vm.openFile(vm.onlineApplication.academicCertificateContentType, vm.onlineApplication.academicCertificate)">open</a>
						{{vm.onlineApplication.academicCertificateContentType}},
						{{vm.byteSize(vm.onlineApplication.academicCertificate)}}
					</div></td>
			</tr>
			<tr>
				<th>Letter Of Recommendation</th>
				<td>
					<div ng-if="vm.onlineApplication.letterOfRecommendation">
						<a
							ng-click="vm.openFile(vm.onlineApplication.letterOfRecommendationContentType, vm.onlineApplication.letterOfRecommendation)">open</a>
						{{vm.onlineApplication.letterOfRecommendationContentType}},
						{{vm.byteSize(vm.onlineApplication.letterOfRecommendation)}}
					</div>
				</td>
			</tr>
			<tr>
				<th>Profile Document</th>
				<td>
					<div ng-if="vm.onlineApplication.profileDocument">
						<a
							ng-click="vm.openFile(vm.onlineApplication.profileDocumentContentType, vm.onlineApplication.profileDocument)">open</a>
						{{vm.onlineApplication.profileDocumentContentType}},
						{{vm.byteSize(vm.onlineApplication.profileDocument)}}
					</div>
				</td>
			</tr>
			<tr ng-show="hidden">
				<th>Md5 Key</th>
				<td>{{vm.onlineApplication.md5key}}</td>
			</tr>
		</table>
		<div class="panel-body">
			<jhi-alert-error></jhi-alert-error>

			<!-- Academic Details -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Academic Details</h3>
				</div>
				<div class="panel-body" ng-show="vm.academicDetails == null">No
					Content.</div>
				<table ng-show="vm.academicDetails" class="table table-bordered">
					<tr class="info">
						<th>Name Of Institution</th>
						<th>Exam Passed</th>
						<th width="100px">Year</th>
						<th width="50px">Grade</th>
					</tr>
					<tr>
						<td>{{vm.academicDetails.nameOfInstitution1}}</td>
						<td>{{vm.academicDetails.examPassed1}}</td>
						<td>{{vm.academicDetails.year1}}</td>
						<td>{{vm.academicDetails.grade1}}</td>
					</tr>
					<tr>
						<td>{{vm.academicDetails.nameOfInstitution2}}</td>
						<td>{{vm.academicDetails.examPassed2}}</td>
						<td>{{vm.academicDetails.year2}}</td>
						<td>{{vm.academicDetails.grade2}}</td>
					</tr>
					<tr>
						<td>{{vm.academicDetails.nameOfInstitution3}}</td>
						<td>{{vm.academicDetails.examPassed3}}</td>
						<td>{{vm.academicDetails.year3}}</td>
						<td>{{vm.academicDetails.grade3}}</td>
					</tr>
					<tr>
						<td>{{vm.academicDetails.nameOfInstitution4}}</td>
						<td>{{vm.academicDetails.examPassed4}}</td>
						<td>{{vm.academicDetails.year4}}</td>
						<td>{{vm.academicDetails.grade4}}</td>
					</tr>
				</table>
			</div>
			<!-- Academic Details -->

			<!-- Ministerial Work Experience -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Ministerial Work Experience</h3>
				</div>
				<div class="panel-body" ng-show="vm.mwe == null">No Content.</div>
				<table ng-show="vm.mwe" class="table table-bordered">
					<tr class="info">
						<th>Name Of Ministry</th>
						<th>Area in Ministry</th>
						<th width="100px">No. of Years</th>
					</tr>
					<tr>
						<td>{{vm.mwe.nameOfMinistry1}}</td>
						<td>{{vm.mwe.areaOfMinistry1}}</td>
						<td>{{vm.mwe.years1}}</td>
					</tr>
					<tr>
						<td>{{vm.mwe.nameOfMinistry2}}</td>
						<td>{{vm.mwe.areaOfMinistry2}}</td>
						<td>{{vm.mwe.years2}}</td>
					</tr>
					<tr>
						<td>{{vm.mwe.nameOfMinistry3}}</td>
						<td>{{vm.mwe.areaOfMinistry3}}</td>
						<td>{{vm.mwe.years3}}</td>
					</tr>
					<tr>
						<td>{{vm.mwe.nameOfMinistry4}}</td>
						<td>{{vm.mwe.areaOfMinistry4}}</td>
						<td>{{vm.mwe.years4}}</td>
					</tr>
				</table>
			</div>
			<!-- Ministerial Work Experience -->

			<button type="submit" ui-sref="{{ vm.previousState }}"
				class="btn btn-info">
				<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
					Back</span>
			</button>

			<!-- <button type="button"
				ui-sref="online-application-detail.edit({id:vm.onlineApplication.id})"
				class="btn btn-primary">
				<span class="glyphicon glyphicon-pencil"></span> <span
					class="hidden-xs hidden-sm"> Edit</span>
			</button> -->
		</div>
	</div>
</div>
