<div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Forum - {{vm.forumRoom.forumRoomName}}</b>
		</div>
		<div class="panel-content">
			<form name="editForm" role="form" novalidate
				ng-submit="vm.save({id:forumRoom.id})" show-validation>

				<div class="modal-body">
					<jhi-alert-error></jhi-alert-error>
					<div class="form-group">
						<label class="control-label" for="field_message">Message</label> <input
							type="text" class="form-control" name="message"
							id="field_message" ng-model="vm.forumRoomMessage.message"
							required />
						<div ng-show="editForm.message.$invalid">
							<p class="help-block" ng-show="editForm.message.$error.required">
								This field is required.</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit"
						ng-disabled="editForm.$invalid || vm.isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Post</span>
					</button>
				</div>
			</form>
		</div>

	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Messages</b>
		</div>
		<!-- <pre>{{ vm.forumRoomMessages | json }}</pre> -->

		<div class="table-responsive">
			<table class="jh-table table table-bordered"
				ng-show="vm.forumRoomMessages.length > 0">
				<tbody>
					<tr
						ng-repeat="forumRoomMessage in vm.forumRoomMessages track by forumRoomMessage.id">
						<td><h5>{{forumRoomMessage.message}}</h5> <span><i>{{forumRoomMessage.user.firstName}}
									{{forumRoomMessage.user.lastName}} on
									{{forumRoomMessage.messageDatetime | date:'medium'}}</i></span></td>
						<td class="text-right" width="50px">
							<div class="btn-group flex-btn-group-container">
								<button type="submit" has-authority="ROLE_ADMIN"
									ui-sref="my-forum-message.delete({id:forumRoomMessage.id})"
									class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-xs hidden-sm"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body" ng-show="vm.forumRoomMessages.length > 0">
			<div class="text-center">
				<jhi-item-count page="vm.page" total="vm.queryCount"
					items-per-page="vm.itemsPerPage"></jhi-item-count>
			</div>
			<uib-pager total-items="vm.totalItems" ng-model="vm.page"
				ng-change="vm.transition()"></uib-pager>
		</div>

		<div class="panel-body" ng-show="vm.forumRoomMessages.length == 0">
			<center>No messages found.</center>
		</div>
	</div>

	<button type="submit" ui-sref="{{ vm.previousState }}"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>

</div>
