<div>
	<jhi-alert></jhi-alert>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Forums</b>
		</div>

		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="forumRoom in vm.forumRooms track by forumRoom.id">
					<!--<td><a ui-sref="forum-room-detail({id:forumRoom.id})">{{forumRoom.id}}</a></td>  -->
					<td>{{forumRoom.forumRoomName}}</td>
					<td width="50px"><a class="btn btn-primary"
						ui-sref="my-forum-room({id:forumRoom.id})">Enter</a></td>
				</tr>
			</tbody>
		</table>

		<div class="text-center">
			<jhi-item-count page="vm.page" total="vm.queryCount"
				items-per-page="vm.itemsPerPage"></jhi-item-count>
		</div>
		<uib-pager total-items="vm.totalItems" ng-model="vm.page"
			ng-change="vm.transition()"></uib-pager>

	</div>
</div>
