<div>

	<!-- section 1 -->
	<div class="row">
		<!-- External Online Resources -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">My Dashboard</h3>
				</div>

				<table class="table table-bordered">
					<tbody>
						<tr ng-show="vm.courseAccess.length > 0">
							<th width="130px">Courses</th>
							<td><div ng-repeat="ca in vm.courseAccess">{{
									ca.course.title }}</div></td>
						</tr>
					</tbody>
				</table>

				<div class="panel-body" ng-show="vm.courseAccess.length == 0">
					<center>No course assigned.</center>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">External Online Resources</h3>
				</div>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="onlineResource in vm.onlineResource">
							<td>
								<div>
									<a ng-show="onlineResource.websiteLink != null"
										href="{{ onlineResource.websiteLink  }}" target="_blank">{{onlineResource.title}}</a>
									<div ng-show="onlineResource.websiteLink == null">{{onlineResource.title}}</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- News & Events -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">News & Events</h3>
				</div>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="newsAndEvent in vm.newsAndEvents">
							<td>
								<div>
									<h4>
										<b> <a ng-show="newsAndEvent.websiteLink != null"
											href="{{ newsAndEvent.websiteLink }}" target="_blank">{{newsAndEvent.title}}</a>
											<div ng-show="newsAndEvent.websiteLink == null">{{newsAndEvent.title}}</div>
										</b>
									</h4>
								</div>{{ newsAndEvent.startDate | date:'mediumDate' }} - {{
								newsAndEvent.endDate | date:'mediumDate' }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- section 2 -->

	<!-- News & Events -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Common Resources</h3>
		</div>
		<table class="table table-bordered">
			<tbody>
				<tr
					ng-repeat="commonResources in vm.commonResources track by commonResources.id">
					<td><b>{{commonResources.title}}</b><br />{{commonResources.description}}</td>
					<td ng-show="commonResources.content"><a alt="Download"
						title="Download" ng-if="commonResources.content"
						class="btn btn-primary"
						ng-click="vm.openFile(commonResources.contentContentType, commonResources.content)"><i
							class="glyphicon glyphicon-download" /></a> <span
						ng-if="commonResources.content"></span></td>
					<td ng-show="commonResources.websiteLink"><a alt="Preview"
						title="Preview" class="btn btn-primary"
						href="{{commonResources.websiteLink}}" target="_blank"><i
							class="glyphicon glyphicon-music" /> </a></td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body" ng-show="vm.commonResources.length == 0">
			<center>No resources currently available.</center>
		</div>
	</div>


	<!-- section 3 -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Course Materials</h3>
		</div>
		<div class="panel-body" ng-show="vm.courseMaterials.length == 0">
			<center>No materials currently available.</center>
		</div>
	</div>


</div>