<div>

	<!-- section 1 -->
	<div class="row">
		<!-- External Online Resources -->
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">My Dashboard</h3>
				</div>

				<table class="table table-bordered">
					<tbody>
						<tr ng-show="vm.courseAccess.length > 0">
							<th width="130px">Courses</th>
							<td><div ng-repeat="ca in vm.courseAccess">{{
									ca.course.title }}</div></td>
						</tr>
					</tbody>
				</table>

				<div class="panel-body" ng-show="vm.courseAccess.length == 0">
					<center>No course assigned.</center>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">External Online Resources</h3>
				</div>
				<table class="table table-bordered">
					<tbody>
						<tr ng-repeat="onlineResource in vm.onlineResource">
							<td>
								<div>
									<a ng-show="onlineResource.websiteLink != null"
										href="{{ onlineResource.websiteLink  }}" target="_blank">{{onlineResource.title}}</a>
									<div ng-show="onlineResource.websiteLink == null">{{onlineResource.title}}</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- News & Events -->
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<b>News & Events</b>
				</div>

				<table class="table table-bordered table-news-events">
					<tbody>
						<tr ng-repeat="newsAndEvent in vm.newsAndEvents">
							<td>
								<div>
									<h4>
										<b>
											<div ng-if="newsAndEvent.websiteLink">
												<a href="{{ newsAndEvent.websiteLink }}" target="_blank"
													style="color: #A85400">{{newsAndEvent.title}}</a>
											</div>
											<div ng-if="!newsAndEvent.websiteLink">
												<a ui-sref="au-news-and-event-detail({id:newsAndEvent.id})"
													style="color: #A85400">{{newsAndEvent.title}}</a>
											</div>
										</b>
									</h4>
								</div>
								<div>{{ newsAndEvent.startDT | date:'medium' }} - {{
									newsAndEvent.endDT | date:'medium' }}</div>
								<div>
									<i>Venue: {{ newsAndEvent.venue }}</i>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="panel-body" ng-show="vm.newsAndEvents.length == 0">
					<div>
						<center>No news &amp; events.</center>
					</div>
				</div>
				<div class="panel-footer news-events-footer">
					<center>
						<a ui-sref="au-news-and-event" class="btn btn-warning">View
							More</a>
					</center>
				</div>

			</div>
		</div>
	</div>

	<!-- section 2 -->

	<!-- News & Events -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Common Resources</h3>
		</div>
		<table class="table table-bordered"
			ng-show="vm.commonResources.length > 0">
			<tbody>
				<tr
					ng-repeat="commonResources in vm.commonResources track by commonResources.id">
					<td><b>{{commonResources.title}}</b><br />{{commonResources.description}}</td>
					<td width="50px"><a alt="Preview"
						ng-show="commonResources.websiteLink" title="Preview"
						class="btn btn-primary" href="{{commonResources.websiteLink}}"
						target="_blank"><i class="glyphicon glyphicon-save-file" /> </a></td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body" ng-show="vm.commonResources.length == 0">
			<center>No resources currently available.</center>
		</div>
	</div>


	<!-- section 3 -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Course Materials</h3>
		</div>

		<table class="table table-bordered"
			ng-show="vm.courseMaterials.length > 0">
			<tbody>
				<tr
					ng-repeat="courseMaterial in vm.courseMaterials track by courseMaterial.displayOrder">
					<td><b>{{courseMaterial.title}}</b><br />{{courseMaterial.description}}</td>
					<td width="50px"><a alt="Preview"
						ng-show="courseMaterial.websiteLink" title="Preview"
						href="{{courseMaterial.websiteLink}}" target="_blank"
						class="btn btn-primary"><i
							class="glyphicon glyphicon-save-file" /></a></td>
				</tr>
			</tbody>
		</table>

		<div class="panel-body" ng-show="vm.courseMaterials.length == 0">
			<center>No materials currently available.</center>
		</div>
	</div>

</div>