
<div>
	<h2>
		<span>Lecturer Profile</span> {{vm.lecturerProfile.id}}
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="dl-horizontal jh-entity-details">
		<dt>
			<span>Profile Photo</span>
		</dt>
		<dd>
			<div ng-if="vm.lecturerProfile.profilePhoto">
				<a
					ng-click="vm.openFile(vm.lecturerProfile.profilePhotoContentType, vm.lecturerProfile.profilePhoto)">
					<img
					data-ng-src="{{'data:' + vm.lecturerProfile.profilePhotoContentType + ';base64,' + vm.lecturerProfile.profilePhoto}}"
					style="max-width: 100%;" alt="lecturerProfile image" />
				</a> {{vm.lecturerProfile.profilePhotoContentType}},
				{{vm.byteSize(vm.lecturerProfile.profilePhoto)}}
			</div>
		</dd>
		<dt>
			<span>User</span>
		</dt>
		<dd>{{vm.lecturerProfile.user.login}}</dd>
		<dt>
			<span>Salutation</span>
		</dt>
		<dd>
			<a ui-sref="salutation-detail({id:vm.lecturerProfile.salutation.id})">{{vm.lecturerProfile.salutation.title}}</a>
		</dd>
		<dt>
			<span>Other Titles</span>
		</dt>
		<dd>
			<span>{{vm.lecturerProfile.otherTitles}}</span>
		</dd>
		<dt>
			<span>Age</span>
		</dt>
		<dd>
			<span>{{vm.lecturerProfile.age}}</span>
		</dd>
		<dt>
			<span>Ordination</span>
		</dt>
		<dd>
			<span>{{vm.lecturerProfile.ordination}}</span>
		</dd>
		<dt>
			<span>Academic History</span>
		</dt>
		<dd>
			<!-- <span>{{vm.lecturerProfile.academicHistory}}</span> -->
			<span ng-bind-html="vm.academicHistory"></span>
		</dd>
		<dt>
			<span>Professional History</span>
		</dt>
		<dd>
			<!-- <span>{{vm.lecturerProfile.professionalHistory}}</span> -->
			<span ng-bind-html="vm.professionalHistory"></span>
		</dd>
		<dt>
			<span>Past And Current Ministry</span>
		</dt>
		<dd>
			<!-- <span>{{vm.lecturerProfile.pastAndCurrentMinistry}}</span> -->
			<span ng-bind-html="vm.pastAndCurrentMinistry"></span>
		</dd>
		<dt>
			<span>Publications</span>
		</dt>
		<dd>
			<!-- <span>{{vm.lecturerProfile.publications}}</span> -->
			<span ng-bind-html="vm.publications"></span>
		</dd>
		<dt>
			<span>Family Details</span>
		</dt>
		<dd>
			<!-- <span>{{vm.lecturerProfile.familyDetails}}</span> -->
			<span ng-bind-html="vm.familyDetails"></span>
		</dd>
		<dt>
			<span>Reference</span>
		</dt>
		<dd>
			<!-- <span>{{vm.lecturerProfile.reference}}</span> -->
			<span ng-bind-html="vm.reference"></span>
		</dd>
	</dl>

	<button type="submit" ui-sref="{{ vm.previousState }}"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>

	<button type="button"
		ui-sref="lecturer-profile-detail.edit({id:vm.lecturerProfile.id})"
		class="btn btn-primary">
		<span class="glyphicon glyphicon-pencil"></span> <span
			class="hidden-xs hidden-sm"> Edit</span>
	</button>
</div>
