<div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Student Profile: {{
				vm.studentProfile.user.login }}</h3>
		</div>
		<table class="table">
			<tr>
				<td width="200px" ng-show="vm.studentProfile != null">
					<div ng-if="vm.studentProfile.profilePhoto">
						<img
							data-ng-src="{{'data:' + vm.studentProfile.profilePhotoContentType + ';base64,' + vm.studentProfile.profilePhoto}}"
							style="max-width: 150px; max-height: 150px"
							alt="studentProfile image" />
					</div>
				</td>
				<td width="200px" ng-show="vm.lecturerProfile != null">
					<div ng-if="vm.lecturerProfile.profilePhoto">
						<img
							data-ng-src="{{'data:' + vm.lecturerProfile.profilePhotoContentType + ';base64,' + vm.lecturerProfile.profilePhoto}}"
							style="max-width: 150px; max-height: 150px"
							alt="lecturerProfile image" />
					</div>
				</td>
				<td>
					<table class="table table-bordered">
						<tr ng-show="vm.courseAccess.length > 0">
							<th width="130px">Courses</th>
							<td><div ng-repeat="ca in vm.courseAccess">{{
									ca.course.title }}</div></td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th width="130px">Student ID</th>
							<td>{{vm.studentProfile.studentId}}</td>
						</tr>
						<tr>
							<th>Login</th>
							<td>{{vm.studentProfile.user.login}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td><a href="mailto:{{vm.studentProfile.user.email}}">{{vm.studentProfile.user.email}}</a></td>
						</tr>
						<tr>
							<th>Full Name</th>
							<td>{{vm.studentProfile.user.firstName}}
								{{vm.studentProfile.user.lastName}}</td>
						</tr>
						<!-- Student -->
						<tr ng-show="vm.studentProfile != null">
							<th>Salutation</th>
							<td>{{vm.studentProfile.salutation.title}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Gender</th>
							<td>{{vm.studentProfile.gender.title}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Date Of Birth</th>
							<td>{{vm.studentProfile.dateOfBirth | date:'mediumDate'}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Phone</th>
							<td>{{vm.studentProfile.phone}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Mailing Address</th>
							<td>{{vm.studentProfile.mailingAddress}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Course Mentor</th>
							<td>{{vm.studentProfile.supervisor.firstName}}
								{{vm.studentProfile.supervisor.lastName}}&nbsp;(<a href="mailto:{{vm.studentProfile.supervisor.email}}">{{vm.studentProfile.supervisor.email}}</a>)
							</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Application Date</th>
							<td>{{vm.studentProfile.applicationDate |
								date:'mediumDate'}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Commencement Date</th>
							<td>{{vm.studentProfile.commencementDate |
								date:'mediumDate'}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Completion Date</th>
							<td>{{vm.studentProfile.completionDate | date:'mediumDate'}}</td>
						</tr>
						<tr ng-show="vm.studentProfile != null">
							<th>Extended Completion Date</th>
							<td>{{vm.studentProfile.extendedCompletionDate |
								date:'mediumDate'}}</td>
						</tr>
						<!-- Lecturer -->
						<tr ng-show="vm.lecturerProfile != null">
							<th>Salutation</th>
							<td>{{vm.lecturerProfile.salutation.title}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Other Titles</th>
							<td>{{vm.lecturerProfile.otherTitles}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Age</th>
							<td>{{vm.lecturerProfile.age}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Ordination</th>
							<td>{{vm.lecturerProfile.ordination}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Academic History</th>
							<td><span ng-bind-html="vm.academicHistory"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Professional History</th>
							<td><span ng-bind-html="vm.professionalHistory"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Past And Current Ministry</th>
							<td><span ng-bind-html="vm.pastAndCurrentMinistry"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Publications</th>
							<td><span ng-bind-html="vm.publications"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Family Details</th>
							<td><span ng-bind-html="vm.familyDetails"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Reference</th>
							<td><span ng-bind-html="vm.reference"></span></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>

	<button type="submit" ui-sref="{{ vm.previousState }}"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>

	<button type="button"
		ui-sref="student-profile-detail.edit({id:vm.studentProfile.id})"
		class="btn btn-primary">
		<span class="glyphicon glyphicon-pencil"></span> <span
			class="hidden-xs hidden-sm"> Edit</span>
	</button>

    <button type="button"
            class="btn btn-primary" onclick="javascript:window.print()">
        <span class="glyphicon glyphicon-print"></span> <span
        class="hidden-xs hidden-sm"> Print</span>
    </button>
</div>
