
<div>
    <h2><span>Student Profile</span> {{vm.studentProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Student Id</span></dt>
        <dd>
            <span>{{vm.studentProfile.studentId}}</span>
        </dd>
        <dt><span>Date Of Birth</span></dt>
        <dd>
            <span>{{vm.studentProfile.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{vm.studentProfile.phone}}</span>
        </dd>
        <dt><span>Application Date</span></dt>
        <dd>
            <span>{{vm.studentProfile.applicationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Commencement Date</span></dt>
        <dd>
            <span>{{vm.studentProfile.commencementDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Completion Date</span></dt>
        <dd>
            <span>{{vm.studentProfile.completionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Mailing Address</span></dt>
        <dd>
            <span>{{vm.studentProfile.mailingAddress}}</span>
        </dd>
        <dt><span>Profile Photo</span></dt>
        <dd>
            <div ng-if="vm.studentProfile.profilePhoto">
                <a ng-click="vm.openFile(vm.studentProfile.profilePhotoContentType, vm.studentProfile.profilePhoto)">
                    <img data-ng-src="{{'data:' + vm.studentProfile.profilePhotoContentType + ';base64,' + vm.studentProfile.profilePhoto}}" style="max-width: 100%;" alt="studentProfile image"/>
                </a>
                {{vm.studentProfile.profilePhotoContentType}}, {{vm.byteSize(vm.studentProfile.profilePhoto)}}
            </div>
        </dd>
        <dt><span>Salutation</span></dt>
        <dd>
            <a ui-sref="salutation-detail({id:vm.studentProfile.salutation.id})">{{vm.studentProfile.salutation.title}}</a>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
            <a ui-sref="gender-detail({id:vm.studentProfile.gender.id})">{{vm.studentProfile.gender.title}}</a>
        </dd>
        <dt><span>Supervisor</span></dt>
        <dd>
            {{vm.studentProfile.supervisor.login}}
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.studentProfile.user.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="student-profile-detail.edit({id:vm.studentProfile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
