
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myStudentProfileLabel">Create or edit
			a Student Profile</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.studentProfile.id">
			<label for="id">ID</label> <input type="text" class="form-control"
				id="id" name="id" ng-model="vm.studentProfile.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_studentId">Student Id</label>
			<input type="text" class="form-control" name="studentId"
				id="field_studentId" ng-model="vm.studentProfile.studentId" required />
			<div ng-show="editForm.studentId.$invalid">
				<p class="help-block" ng-show="editForm.studentId.$error.required">
					This field is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_dateOfBirth">Date Of
				Birth</label>
			<div class="input-group">
				<input id="field_dateOfBirth" type="text" class="form-control"
					name="dateOfBirth" uib-datepicker-popup="{{dateformat}}"
					ng-model="vm.studentProfile.dateOfBirth"
					is-open="vm.datePickerOpenStatus.dateOfBirth" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('dateOfBirth')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_phone">Phone</label> <input
				type="text" class="form-control" name="phone" id="field_phone"
				ng-model="vm.studentProfile.phone" required />
			<div ng-show="editForm.phone.$invalid">
				<p class="help-block" ng-show="editForm.phone.$error.required">
					This field is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_applicationDate">Application
				Date</label>
			<div class="input-group">
				<input id="field_applicationDate" type="text" class="form-control"
					name="applicationDate" uib-datepicker-popup="{{dateformat}}"
					ng-model="vm.studentProfile.applicationDate"
					is-open="vm.datePickerOpenStatus.applicationDate" required /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('applicationDate')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			<div ng-show="editForm.applicationDate.$invalid">
				<p class="help-block"
					ng-show="editForm.applicationDate.$error.required">This field
					is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_commencementDate">Commencement
				Date</label>
			<div class="input-group">
				<input id="field_commencementDate" type="text" class="form-control"
					name="commencementDate" uib-datepicker-popup="{{dateformat}}"
					ng-model="vm.studentProfile.commencementDate"
					is-open="vm.datePickerOpenStatus.commencementDate" required /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('commencementDate')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			<div ng-show="editForm.commencementDate.$invalid">
				<p class="help-block"
					ng-show="editForm.commencementDate.$error.required">This field
					is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_completionDate">Completion
				Date</label>
			<div class="input-group">
				<input id="field_completionDate" type="text" class="form-control"
					name="completionDate" uib-datepicker-popup="{{dateformat}}"
					ng-model="vm.studentProfile.completionDate"
					is-open="vm.datePickerOpenStatus.completionDate" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('completionDate')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_mailingAddress">Mailing
				Address</label>
			<textarea class="form-control" name="mailingAddress"
				id="field_mailingAddress"
				ng-model="vm.studentProfile.mailingAddress" required
				ng-maxlength="1000"></textarea>
			<div ng-show="editForm.mailingAddress.$invalid">
				<p class="help-block"
					ng-show="editForm.mailingAddress.$error.required">This field is
					required.</p>
				<p class="help-block"
					ng-show="editForm.mailingAddress.$error.maxlength">This field
					cannot be longer than 1000 characters.</p>
			</div>
		</div>
		<div class="form-group" ngf-drop
			ngf-change="vm.setProfilePhoto($file, vm.studentProfile)"
			ngf-pattern="'image/*'">
			<label class="control-label" for="field_profilePhoto">Profile
				Photo</label>
			<div>
				<img
					data-ng-src="{{'data:' + vm.studentProfile.profilePhotoContentType + ';base64,' + vm.studentProfile.profilePhoto}}"
					style="max-height: 100px;" ng-if="vm.studentProfile.profilePhoto"
					alt="studentProfile image" />
				<div ng-if="vm.studentProfile.profilePhoto"
					class="help-block clearfix">
					<span class="pull-left">{{vm.studentProfile.profilePhotoContentType}},
						{{vm.byteSize(vm.studentProfile.profilePhoto)}}</span>
					<button type="button"
						ng-click="vm.studentProfile.profilePhoto=null;vm.studentProfile.profilePhotoContentType=null;"
						class="btn btn-default btn-xs pull-right">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
				<button type="button" ngf-select class="btn btn-default btn-block"
					ngf-change="vm.setProfilePhoto($file, vm.studentProfile)"
					accept="image/*">Add image</button>
			</div>
			<input type="hidden" class="form-control" name="profilePhoto"
				id="field_profilePhoto" ng-model="vm.studentProfile.profilePhoto" />
			<input type="hidden" class="form-control"
				name="profilePhotoContentType" id="field_profilePhotoContentType"
				ng-model="vm.studentProfile.profilePhotoContentType" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_extendedCompletionDate">Extended
				Completion Date</label>
			<div class="input-group">
				<input id="field_extendedCompletionDate" type="text"
					class="form-control" name="extendedCompletionDate"
					uib-datepicker-popup="{{dateformat}}"
					ng-model="vm.studentProfile.extendedCompletionDate"
					is-open="vm.datePickerOpenStatus.extendedCompletionDate" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('extendedCompletionDate')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="field_salutation">Salutation</label> <select
				class="form-control" id="field_salutation" name="salutation"
				ng-model="vm.studentProfile.salutation"
				ng-options="salutation as salutation.title for salutation in vm.salutations track by salutation.id"
				required>
				<option value=""></option>
			</select>
		</div>
		<div ng-show="editForm.salutation.$invalid">
			<p class="help-block" ng-show="editForm.salutation.$error.required">
				This field is required.</p>
		</div>
		<div class="form-group">
			<label for="field_gender">Gender</label> <select class="form-control"
				id="field_gender" name="gender" ng-model="vm.studentProfile.gender"
				ng-options="gender as gender.title for gender in vm.genders track by gender.id"
				required>
				<option value=""></option>
			</select>
		</div>
		<div ng-show="editForm.gender.$invalid">
			<p class="help-block" ng-show="editForm.gender.$error.required">
				This field is required.</p>
		</div>
		<div class="form-group">
			<label for="field_supervisor">Supervisor</label> <select
				class="form-control" id="field_supervisor" name="supervisor"
				ng-model="vm.studentProfile.supervisor"
				ng-options="user as user.login for user in vm.lecturers track by user.id"
				required>
				<option value=""></option>
			</select>
		</div>
		<div ng-show="editForm.supervisor.$invalid">
			<p class="help-block" ng-show="editForm.supervisor.$error.required">
				This field is required.</p>
		</div>
		<div class="form-group">
			<label for="field_user">User</label> <select class="form-control"
				id="field_user" name="user" ng-model="vm.studentProfile.user"
				ng-options="user as user.login for user in vm.users track by user.id"
				required>
				<option value=""></option>
			</select>
		</div>
		<div ng-show="editForm.user.$invalid">
			<p class="help-block" ng-show="editForm.user.$error.required">
				This field is required.</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
