
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myCourseMaterialLabel">Create or edit
			a Course Material</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.courseMaterial.id">
			<label for="id">ID</label> <input type="text" class="form-control"
				id="id" name="id" ng-model="vm.courseMaterial.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_title">Title</label> <input
				type="text" class="form-control" name="title" id="field_title"
				ng-model="vm.courseMaterial.title" required />
			<div ng-show="editForm.title.$invalid">
				<p class="help-block" ng-show="editForm.title.$error.required">
					This field is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_description">Description</label>
			<textarea class="form-control" name="description"
				id="field_description" ng-model="vm.courseMaterial.description"></textarea>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_websiteLink">Website
				Link</label> <input type="text" class="form-control" name="websiteLink"
				id="field_websiteLink" ng-model="vm.courseMaterial.websiteLink" />
		</div>
		<div class="form-group" ngf-drop
			ngf-change="vm.setContent($file, vm.courseMaterial)" ng-show="false">
			<label class="control-label" for="field_content">Content</label>
			<div>
				<div ng-if="vm.courseMaterial.content" class="help-block clearfix">
					<a class="pull-left"
						ng-click="vm.openFile(vm.courseMaterial.contentContentType, vm.courseMaterial.content)">open</a><br>
					<span class="pull-left">{{vm.courseMaterial.contentContentType}},
						{{vm.byteSize(vm.courseMaterial.content)}}</span>
					<button type="button"
						ng-click="vm.courseMaterial.content=null;vm.courseMaterial.contentContentType=null;"
						class="btn btn-default btn-xs pull-right">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
				<button type="button" ngf-select class="btn btn-default btn-block"
					ngf-change="vm.setContent($file, vm.courseMaterial)">Add
					blob</button>
			</div>
			<input type="hidden" class="form-control" name="content"
				id="field_content" ng-model="vm.courseMaterial.content" />
			<input type="hidden" class="form-control" name="contentContentType"
				id="field_contentContentType"
				ng-model="vm.courseMaterial.contentContentType" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_displayOrder">Display
				Order</label> <input type="number" class="form-control" name="displayOrder"
				id="field_displayOrder" ng-model="vm.courseMaterial.displayOrder" />
		</div>

		<div class="form-group">
			<label for="field_course">Course</label> <select class="form-control"
				id="field_course" name="course" ng-model="vm.courseMaterial.course"
				ng-options="course as course.title for course in vm.courses track by course.id"
				required>
				<option value=""></option>
			</select>
		</div>
		<div ng-show="editForm.course.$invalid">
			<p class="help-block" ng-show="editForm.course.$error.required">
				This field is required.</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
