
<div>
	<h2>
		<span>Course Material</span> {{vm.courseMaterial.id}}
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>
	<dl class="dl-horizontal jh-entity-details">
		<dt>
			<span>Title</span>
		</dt>
		<dd>
			<span>{{vm.courseMaterial.title}}</span>
		</dd>
		<dt>
			<span>Description</span>
		</dt>
		<dd>
			<span>{{vm.courseMaterial.description}}</span>
		</dd>
		<dt>
			<span>Website Link</span>
		</dt>
		<dd>
			<span><a href="{{vm.courseMaterial.websiteLink}}"
				target="_blank">{{vm.courseMaterial.websiteLink}}</a></span>
		</dd>
		<dt>
			<span>Content</span>
		</dt>
		<dd>
			<div ng-if="vm.courseMaterial.content">
				<a
					ng-click="vm.openFile(vm.courseMaterial.contentContentType, vm.courseMaterial.content)">open</a>
				{{vm.courseMaterial.contentContentType}},
				{{vm.byteSize(vm.courseMaterial.content)}}
			</div>
		</dd>
		<dt>
			<span>Display Order</span>
		</dt>
		<dd>
			<span>{{vm.courseMaterial.displayOrder}}</span>
		</dd>
		<dt>
			<span>Course</span>
		</dt>
		<dd>
			<a ui-sref="course-detail({id:vm.courseMaterial.course.id})">{{vm.courseMaterial.course.title}}</a>
		</dd>
	</dl>

	<button type="submit" ui-sref="{{ vm.previousState }}"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>

	<button type="button"
		ui-sref="course-material-detail.edit({id:vm.courseMaterial.id})"
		class="btn btn-primary">
		<span class="glyphicon glyphicon-pencil"></span> <span
			class="hidden-xs hidden-sm"> Edit</span>
	</button>
</div>
