<div>
    <h2 id="page-heading">
        <span>Course Materials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-material" [routerLink]="['/course-material/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Course Material
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="courseMaterials">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span>Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="websiteLink"><span>Website Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span>Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span>Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="course.title"><span>Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courseMaterial of courseMaterials ;trackBy: trackId">
                <td><a [routerLink]="['/course-material', courseMaterial.id, 'view' ]">{{courseMaterial.id}}</a></td>
                <td>{{courseMaterial.title}}</td>
                <td>{{courseMaterial.description}}</td>
                <td>{{courseMaterial.websiteLink}}</td>
                <td>
                    <a *ngIf="courseMaterial.content" (click)="openFile(courseMaterial.contentContentType, courseMaterial.content)">open</a>
                    <span *ngIf="courseMaterial.content">{{courseMaterial.contentContentType}}, {{byteSize(courseMaterial.content)}}</span>
                </td>
                <td>{{courseMaterial.displayOrder}}</td>
                <td>
                    <div *ngIf="courseMaterial.course">
                        <a [routerLink]="['../course', courseMaterial.course?.id, 'view' ]" >{{courseMaterial.course?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/course-material', courseMaterial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course-material', courseMaterial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'course-material/'+ courseMaterial.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="courseMaterials && courseMaterials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
