<div>
	<h2>Courses &amp; Fees</h2>
	<jhi-alert></jhi-alert>
	<div class="table-responsive">
		<table class="jh-table table">
			<tbody>
				<tr ng-repeat="course in vm.courses track by course.id">
					<!-- <td><a ui-sref="course-detail({id:course.id})">{{course.id}}</a></td> -->
					<td><h3>{{course.title}}</h3> <br /> {{course.description}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="course-detail({id:course.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page"
		ng-change="vm.transition()"></uib-pager>
</div>
