
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMinisterialWorkExperienceLabel">Create or edit a Ministerial Work Experience</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ministerialWorkExperience.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ministerialWorkExperience.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nameOfMinistry1">Name Of Ministry 1</label>
            <input type="text" class="form-control" name="nameOfMinistry1" id="field_nameOfMinistry1"
                    ng-model="vm.ministerialWorkExperience.nameOfMinistry1"
                    required ng-maxlength="1000" />
            <div ng-show="editForm.nameOfMinistry1.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameOfMinistry1.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nameOfMinistry1.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_areaOfMinistry1">Area Of Ministry 1</label>
            <input type="text" class="form-control" name="areaOfMinistry1" id="field_areaOfMinistry1"
                    ng-model="vm.ministerialWorkExperience.areaOfMinistry1"
                    required ng-maxlength="1000" />
            <div ng-show="editForm.areaOfMinistry1.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaOfMinistry1.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.areaOfMinistry1.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nameOfMinistry2">Name Of Ministry 2</label>
            <input type="text" class="form-control" name="nameOfMinistry2" id="field_nameOfMinistry2"
                    ng-model="vm.ministerialWorkExperience.nameOfMinistry2"
                    ng-maxlength="1000" />
            <div ng-show="editForm.nameOfMinistry2.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameOfMinistry2.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_areaOfMinistry2">Area Of Ministry 2</label>
            <input type="text" class="form-control" name="areaOfMinistry2" id="field_areaOfMinistry2"
                    ng-model="vm.ministerialWorkExperience.areaOfMinistry2"
                    ng-maxlength="1000" />
            <div ng-show="editForm.areaOfMinistry2.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaOfMinistry2.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nameOfMinistry3">Name Of Ministry 3</label>
            <input type="text" class="form-control" name="nameOfMinistry3" id="field_nameOfMinistry3"
                    ng-model="vm.ministerialWorkExperience.nameOfMinistry3"
                    ng-maxlength="1000" />
            <div ng-show="editForm.nameOfMinistry3.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameOfMinistry3.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_areaOfMinistry3">Area Of Ministry 3</label>
            <input type="text" class="form-control" name="areaOfMinistry3" id="field_areaOfMinistry3"
                    ng-model="vm.ministerialWorkExperience.areaOfMinistry3"
                    ng-maxlength="1000" />
            <div ng-show="editForm.areaOfMinistry3.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaOfMinistry3.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nameOfMinistry4">Name Of Ministry 4</label>
            <input type="text" class="form-control" name="nameOfMinistry4" id="field_nameOfMinistry4"
                    ng-model="vm.ministerialWorkExperience.nameOfMinistry4"
                    ng-maxlength="1000" />
            <div ng-show="editForm.nameOfMinistry4.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameOfMinistry4.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_areaOfMinistry4">Area Of Ministry 4</label>
            <input type="text" class="form-control" name="areaOfMinistry4" id="field_areaOfMinistry4"
                    ng-model="vm.ministerialWorkExperience.areaOfMinistry4"
                    ng-maxlength="1000" />
            <div ng-show="editForm.areaOfMinistry4.$invalid">
                <p class="help-block"
                    ng-show="editForm.areaOfMinistry4.$error.maxlength">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_md5Key">Md 5 Key</label>
            <input type="text" class="form-control" name="md5Key" id="field_md5Key"
                    ng-model="vm.ministerialWorkExperience.md5Key"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_years1">Years 1</label>
            <input type="number" class="form-control" name="years1" id="field_years1"
                    ng-model="vm.ministerialWorkExperience.years1"
                    required min="1" max="100" />
            <div ng-show="editForm.years1.$invalid">
                <p class="help-block"
                    ng-show="editForm.years1.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.years1.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.years1.$error.max">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.years1.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_years2">Years 2</label>
            <input type="number" class="form-control" name="years2" id="field_years2"
                    ng-model="vm.ministerialWorkExperience.years2"
                    min="1" max="100" />
            <div ng-show="editForm.years2.$invalid">
                <p class="help-block"
                    ng-show="editForm.years2.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.years2.$error.max">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.years2.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_years3">Years 3</label>
            <input type="number" class="form-control" name="years3" id="field_years3"
                    ng-model="vm.ministerialWorkExperience.years3"
                    min="1" max="100" />
            <div ng-show="editForm.years3.$invalid">
                <p class="help-block"
                    ng-show="editForm.years3.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.years3.$error.max">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.years3.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_years4">Years 4</label>
            <input type="number" class="form-control" name="years4" id="field_years4"
                    ng-model="vm.ministerialWorkExperience.years4"
                    min="1" max="100" />
            <div ng-show="editForm.years4.$invalid">
                <p class="help-block"
                    ng-show="editForm.years4.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.years4.$error.max">
                    This field cannot be more than 100.
                </p>
                <p class="help-block"
                    ng-show="editForm.years4.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
