<div>
	<h2>Forum Room Messages</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="forum-room-message.new">
					<span class="glyphicon glyphicon-plus"></span> <span> Create
						new Forum Room Message </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span>ID</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="message"><span>Message</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="messageDatetime"><span>Message Datetime</span>
						<span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="forumRoom.forumRoomName"><span>Forum
							Room</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="user.username"><span>User</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="forumRoomMessage in vm.forumRoomMessages track by forumRoomMessage.id">
					<td><a
						ui-sref="forum-room-message-detail({id:forumRoomMessage.id})">{{forumRoomMessage.id}}</a></td>
					<td>{{forumRoomMessage.message}}</td>
					<td>{{forumRoomMessage.messageDatetime | date:'medium'}}</td>
					<td><a
						ui-sref="forum-room-detail({id:forumRoomMessage.forumRoom.id})">{{forumRoomMessage.forumRoom.forumRoomName}}</a>
					</td>
					<td>{{forumRoomMessage.user.login}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="forum-room-message-detail({id:forumRoomMessage.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="forum-room-message.edit({id:forumRoomMessage.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="forum-room-message.delete({id:forumRoomMessage.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page"
		ng-change="vm.transition()"></uib-pager>
</div>
