<div>
	<jhi-alert></jhi-alert>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Gallery</b>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3"
					ng-repeat="gallery in vm.galleries track by gallery.id">
					<a ng-if="gallery.galleryPhoto"
						ui-sref="public-gallery-detail({id:gallery.id})"> <img
						data-ng-src="{{'data:' + gallery.galleryPhotoContentType + ';base64,' + gallery.galleryPhoto}}"
						style="max-height: 240px; max-width: 240px;" alt="gallery image" />
					</a> <br /> <br />
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="text-center">
				<jhi-item-count page="vm.page" total="vm.queryCount"
					items-per-page="vm.itemsPerPage"></jhi-item-count>
			</div>
			<uib-pager total-items="vm.totalItems" ng-model="vm.page"
				ng-change="vm.transition()"></uib-pager>
		</div>
	</div>

</div>
