
<div>
    <h2><span>Common Resources</span> {{vm.commonResources.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.commonResources.title}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <div ng-if="vm.commonResources.content">
                <a ng-click="vm.openFile(vm.commonResources.contentContentType, vm.commonResources.content)">open</a>
                {{vm.commonResources.contentContentType}}, {{vm.byteSize(vm.commonResources.content)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.commonResources.description}}</span>
        </dd>
        <dt><span>Display Order</span></dt>
        <dd>
            <span>{{vm.commonResources.displayOrder}}</span>
        </dd>
        <dt><span>Website Link</span></dt>
        <dd>
            <span>{{vm.commonResources.websiteLink}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="common-resources-detail.edit({id:vm.commonResources.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
