<div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<b>News & Events</b>
		</div>

		<table class="table table-bordered table-news-events">
			<tbody>
				<tr ng-repeat="newsAndEvent in vm.newsAndEvents">
					<td>
						<div>
							<h4>
								<b>
									<div ng-if="newsAndEvent.websiteLink">
										<a href="{{ newsAndEvent.websiteLink }}" target="_blank"
											style="color: #A85400">{{newsAndEvent.title}}</a>
									</div>
									<div ng-if="!newsAndEvent.websiteLink">
										<a ui-sref="au-news-and-event-detail({id:newsAndEvent.id})"
											style="color: #A85400">{{newsAndEvent.title}}</a>
									</div>
								</b>
							</h4>
						</div>
						<div>{{ newsAndEvent.startDT | date:'medium' }} - {{
							newsAndEvent.endDT | date:'medium' }}</div>
						<div>
							<i>Venue: {{ newsAndEvent.venue }}</i>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-body" ng-show="vm.newsAndEvents.length == 0">
			<div>
				<center>No news &amp; events.</center>
			</div>
		</div>
		<div class="panel-footer news-events-footer">
			<div class="text-center">
				<jhi-item-count page="vm.page" total="vm.queryCount"
					items-per-page="vm.itemsPerPage"></jhi-item-count>
			</div>
			<uib-pager total-items="vm.totalItems" ng-model="vm.page"
				ng-change="vm.transition()"></uib-pager>
		</div>

	</div>
</div>
