<div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Lecturer Profile:
				{{vm.lecturerProfile.user.login}}</h3>
		</div>
		<table class="table">
			<tr>
				<td width="200px" ng-show="vm.studentProfile != null">
					<div ng-if="vm.studentProfile.profilePhoto">
						<img
							data-ng-src="{{'data:' + vm.studentProfile.profilePhotoContentType + ';base64,' + vm.studentProfile.profilePhoto}}"
							style="max-width: 150px; max-height: 150px"
							alt="studentProfile image" />
					</div>
				</td>
				<td width="200px" ng-show="vm.lecturerProfile != null">
					<div ng-if="vm.lecturerProfile.profilePhoto">
						<img
							data-ng-src="{{'data:' + vm.lecturerProfile.profilePhotoContentType + ';base64,' + vm.lecturerProfile.profilePhoto}}"
							style="max-width: 150px; max-height: 150px"
							alt="lecturerProfile image" />
					</div>
				</td>
				<td><jhi-alert-error></jhi-alert-error>
					<table class="table table-bordered">
						<tr ng-show="vm.courseAccess.length > 0">
							<th width="130px">Courses</th>
							<td><div ng-repeat="ca in vm.courseAccess">{{
									ca.course.title }}</div></td>
						</tr>
						<tr>
							<th width="130px">Login</th>
							<td>{{vm.lecturerProfile.user.login}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{vm.lecturerProfile.user.email}}</td>
						</tr>
						<tr>
							<th>Full Name</th>
							<td>{{vm.lecturerProfile.user.firstName}}
								{{vm.lecturerProfile.user.lastName}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Salutation</th>
							<td>{{vm.lecturerProfile.salutation.title}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Other Titles</th>
							<td>{{vm.lecturerProfile.otherTitles}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Age</th>
							<td>{{vm.lecturerProfile.age}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Ordination</th>
							<td>{{vm.lecturerProfile.ordination}}</td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Academic History</th>
							<td><span ng-bind-html="vm.academicHistory"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Professional History</th>
							<td><span ng-bind-html="vm.professionalHistory"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Past And Current Ministry</th>
							<td><span ng-bind-html="vm.pastAndCurrentMinistry"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Publications</th>
							<td><span ng-bind-html="vm.publications"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Family Details</th>
							<td><span ng-bind-html="vm.familyDetails"></span></td>
						</tr>
						<tr ng-show="vm.lecturerProfile != null">
							<th>Reference</th>
							<td><span ng-bind-html="vm.reference"></span></td>
						</tr>
					</table></td>
			</tr>
		</table>
	</div>

	<button type="submit" ui-sref="{{ vm.previousState }}"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>

	<button type="button"
		ui-sref="lecturer-profile-detail.edit({id:vm.lecturerProfile.id})"
		class="btn btn-primary">
		<span class="glyphicon glyphicon-pencil"></span> <span
			class="hidden-xs hidden-sm"> Edit</span>
	</button>
</div>
