
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLecturerProfileLabel">Create or edit a Lecturer Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lecturerProfile.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lecturerProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_otherTitles">Other Titles</label>
            <input type="text" class="form-control" name="otherTitles" id="field_otherTitles"
                    ng-model="vm.lecturerProfile.otherTitles"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.lecturerProfile.age"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ordination">Ordination</label>
            <input type="text" class="form-control" name="ordination" id="field_ordination"
                    ng-model="vm.lecturerProfile.ordination"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_academicHistory">Academic History</label>
                <textarea class="form-control" name="academicHistory" id="field_academicHistory"
                    ng-model="vm.lecturerProfile.academicHistory"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_professionalHistory">Professional History</label>
                <textarea class="form-control" name="professionalHistory" id="field_professionalHistory"
                    ng-model="vm.lecturerProfile.professionalHistory"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pastAndCurrentMinistry">Past And Current Ministry</label>
                <textarea class="form-control" name="pastAndCurrentMinistry" id="field_pastAndCurrentMinistry"
                    ng-model="vm.lecturerProfile.pastAndCurrentMinistry"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_publications">Publications</label>
                <textarea class="form-control" name="publications" id="field_publications"
                    ng-model="vm.lecturerProfile.publications"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_familyDetails">Family Details</label>
                <textarea class="form-control" name="familyDetails" id="field_familyDetails"
                    ng-model="vm.lecturerProfile.familyDetails"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reference">Reference</label>
                <textarea class="form-control" name="reference" id="field_reference"
                    ng-model="vm.lecturerProfile.reference"  ></textarea>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setProfilePhoto($file, vm.lecturerProfile)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_profilePhoto">Profile Photo</label>
            <div>
                <img data-ng-src="{{'data:' + vm.lecturerProfile.profilePhotoContentType + ';base64,' + vm.lecturerProfile.profilePhoto}}" style="max-height: 100px;" ng-if="vm.lecturerProfile.profilePhoto" alt="lecturerProfile image"/>
                <div ng-if="vm.lecturerProfile.profilePhoto" class="help-block clearfix">
                    <span class="pull-left">{{vm.lecturerProfile.profilePhotoContentType}}, {{vm.byteSize(vm.lecturerProfile.profilePhoto)}}</span>
                    <button type="button" ng-click="vm.lecturerProfile.profilePhoto=null;vm.lecturerProfile.profilePhotoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setProfilePhoto($file, vm.lecturerProfile)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="profilePhoto" id="field_profilePhoto"
                    ng-model="vm.lecturerProfile.profilePhoto"
                     />
            <input type="hidden" class="form-control" name="profilePhotoContentType" id="field_profilePhotoContentType"
                    ng-model="vm.lecturerProfile.profilePhotoContentType" />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.lecturerProfile.user" ng-options="user as user.login for user in vm.users track by user.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_salutation">Salutation</label>
            <select class="form-control" id="field_salutation" name="salutation" ng-model="vm.lecturerProfile.salutation" ng-options="salutation as salutation.title for salutation in vm.salutations track by salutation.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
