<div>
    <h2 id="page-heading">
        <span>Lecturer Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lecturer-profile" [routerLink]="['/lecturer-profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lecturer Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lecturerProfiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="otherTitles"><span>Other Titles</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="age"><span>Age</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordination"><span>Ordination</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="academicHistory"><span>Academic History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="professionalHistory"><span>Professional History</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pastAndCurrentMinistry"><span>Past And Current Ministry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publications"><span>Publications</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="familyDetails"><span>Family Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reference"><span>Reference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profilePhoto"><span>Profile Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salutation.title"><span>Salutation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lecturerProfile of lecturerProfiles ;trackBy: trackId">
                <td><a [routerLink]="['/lecturer-profile', lecturerProfile.id, 'view' ]">{{lecturerProfile.id}}</a></td>
                <td>{{lecturerProfile.otherTitles}}</td>
                <td>{{lecturerProfile.age}}</td>
                <td>{{lecturerProfile.ordination}}</td>
                <td>{{lecturerProfile.academicHistory}}</td>
                <td>{{lecturerProfile.professionalHistory}}</td>
                <td>{{lecturerProfile.pastAndCurrentMinistry}}</td>
                <td>{{lecturerProfile.publications}}</td>
                <td>{{lecturerProfile.familyDetails}}</td>
                <td>{{lecturerProfile.reference}}</td>
                <td>
                    <a *ngIf="lecturerProfile.profilePhoto" (click)="openFile(lecturerProfile.profilePhotoContentType, lecturerProfile.profilePhoto)">
                        <img [src]="'data:' + lecturerProfile.profilePhotoContentType + ';base64,' + lecturerProfile.profilePhoto" style="max-height: 30px;" alt="lecturerProfile image"/>
                    </a>
                    <span *ngIf="lecturerProfile.profilePhoto">{{lecturerProfile.profilePhotoContentType}}, {{byteSize(lecturerProfile.profilePhoto)}}</span>
                </td>
                <td>
                    {{lecturerProfile.user?.login}}
                </td>
                <td>
                    <div *ngIf="lecturerProfile.salutation">
                        <a [routerLink]="['../salutation', lecturerProfile.salutation?.id, 'view' ]" >{{lecturerProfile.salutation?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lecturer-profile', lecturerProfile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lecturer-profile', lecturerProfile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lecturer-profile/'+ lecturerProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="lecturerProfiles && lecturerProfiles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
