<div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Student Gradings: {{vm.user.firstName}} {{vm.user.lastName}}</b>
		</div>
		<div class="panel-body">

			<div class="panel panel-primary">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr class="info">
								<th width="150px"><span>Type</span></th>
								<th width="120px"><span>Course Code</span></th>
								<th><span>Title</span></th>
								<th width="60px"><span>Result</span></th>
								<th width="110px"><span>Date Graded</span></th>
							</tr>
						</thead>
						<tbody>
							<!-- Theological -->
							<tr
								ng-repeat="studentModuleResult in vm.theologicalResults track by studentModuleResult.id">
								<td>Theological</td>
								<td>{{studentModuleResult.module.moduleCode}}</td>
								<td>{{studentModuleResult.module.title}}</td>
								<td>{{studentModuleResult.result}}</td>
								<td>{{studentModuleResult.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.theologicalResults.length==0">
								<td>Theological</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Practical Ministry -->
							<tr
								ng-repeat="studentModuleResult in vm.practicalMinistryResults track by studentModuleResult.id">
								<td>Practical Ministry</td>
								<td>{{studentModuleResult.module.moduleCode}}</td>
								<td>{{studentModuleResult.module.title}}</td>
								<td>{{studentModuleResult.result}}</td>
								<td>{{studentModuleResult.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.practicalMinistryResults.length==0">
								<td>Practical Ministry</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Research Papers -->
							<tr ng-repeat="item in vm.researchPapers track by $index">
								<td>Research Papers</td>
								<td>{{item.researchPaper.code}}</td>
								<td>{{item.researchPaper.title}}</td>
								<td>{{item.result}}</td>
								<td>{{item.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.researchPapers.length==0">
								<td>Research Papers</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Book Reviews -->
							<tr ng-repeat="item in vm.bookReviews track by $index">
								<td>Book Reviews</td>
								<td>{{item.code}}</td>
								<td>{{item.title}}</td>
								<td>{{item.result}}</td>
								<td>{{item.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.bookReviews.length==0">
								<td>Book Reviews</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Dissertation -->
							<tr ng-repeat="item in vm.dissertations track by $index">
								<td>Dissertation</td>
								<td>{{item.code}}</td>
								<td>{{item.title}}</td>
								<td>{{item.result}}</td>
								<td>{{item.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.dissertations.length==0">
								<td>Dissertation</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Writing Articles -->
							<tr ng-repeat="item in vm.writingArticles track by $index">
								<td>Writing Articles</td>
								<td>{{item.code}}</td>
								<td>{{item.title}}</td>
								<td>{{item.result}}</td>
								<td>{{item.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.writingArticles.length==0">
								<td>Writing Articles</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<!-- Sermon Outlines -->
							<tr ng-repeat="item in vm.sermonOutlines track by $index">
								<td>Sermon Outlines</td>
								<td>{{item.code}}</td>
								<td>{{item.title}}</td>
								<td>{{item.result}}</td>
								<td>{{item.dateGraded | date:'mediumDate'}}</td>
							</tr>
							<tr ng-show="vm.sermonOutlines.length==0">
								<td>Sermon Outlines</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<button type="submit" ui-sref="{{ vm.previousState }}"
		class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
			Back</span>
	</button>

    <button type="button"
            class="btn btn-primary" onclick="javascript:window.print()">
        <span class="glyphicon glyphicon-print"></span> <span
        class="hidden-xs hidden-sm"> Print</span>
    </button>
</div>
