<div>
    <h2 id="page-heading">
        <span>Galleries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gallery" [routerLink]="['/gallery/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Gallery
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="galleries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageTitle"><span>Image Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="galleryPhoto"><span>Gallery Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gallery of galleries ;trackBy: trackId">
                <td><a [routerLink]="['/gallery', gallery.id, 'view' ]">{{gallery.id}}</a></td>
                <td>{{gallery.imageTitle}}</td>
                <td>
                    <a *ngIf="gallery.galleryPhoto" (click)="openFile(gallery.galleryPhotoContentType, gallery.galleryPhoto)">
                        <img [src]="'data:' + gallery.galleryPhotoContentType + ';base64,' + gallery.galleryPhoto" style="max-height: 30px;" alt="gallery image"/>
                    </a>
                    <span *ngIf="gallery.galleryPhoto">{{gallery.galleryPhotoContentType}}, {{byteSize(gallery.galleryPhoto)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gallery', gallery.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gallery', gallery.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gallery/'+ gallery.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="galleries && galleries.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
