
<div>
    <h2><span>Gallery</span> {{vm.gallery.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Image Title</span></dt>
        <dd>
            <span>{{vm.gallery.imageTitle}}</span>
        </dd>
        <dt><span>Gallery Photo</span></dt>
        <dd>
            <div ng-if="vm.gallery.galleryPhoto">
                <a ng-click="vm.openFile(vm.gallery.galleryPhotoContentType, vm.gallery.galleryPhoto)">
                    <img data-ng-src="{{'data:' + vm.gallery.galleryPhotoContentType + ';base64,' + vm.gallery.galleryPhoto}}" style="max-width: 100%;" alt="gallery image"/>
                </a>
                {{vm.gallery.galleryPhotoContentType}}, {{vm.byteSize(vm.gallery.galleryPhoto)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="gallery-detail.edit({id:vm.gallery.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
