<div>
	<h2>Entry Qualifications</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="entry-qualification.new">
					<span class="glyphicon glyphicon-plus"></span> <span> Create
						new Entry Qualification </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span>ID</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="displayOrder"><span>Display Order</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="course.title"><span>Course</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="content"><span>Content</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="entryQualification in vm.entryQualifications track by entryQualification.id">
					<td><a
						ui-sref="entry-qualification-detail({id:entryQualification.id})">{{entryQualification.id}}</a></td>
					<!-- <td>{{entryQualification.content}}</td> -->
					<td>{{entryQualification.displayOrder}}</td>
					<td><a
						ui-sref="course-detail({id:entryQualification.course.id})">{{entryQualification.course.title}}</a>
					</td>
					<td><div ng-bind-html-unsafe="entryQualification.content"></div>{{entryQualification.content
						}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="entry-qualification-detail({id:entryQualification.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="entry-qualification.edit({id:entryQualification.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="entry-qualification.delete({id:entryQualification.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page"
		ng-change="vm.transition()"></uib-pager>
</div>
