<div>
    <h2 id="page-heading">
        <span>Entry Qualifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entry-qualification" [routerLink]="['/entry-qualification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Entry Qualification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="entryQualifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span>Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayOrder"><span>Display Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="course.title"><span>Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entryQualification of entryQualifications ;trackBy: trackId">
                <td><a [routerLink]="['/entry-qualification', entryQualification.id, 'view' ]">{{entryQualification.id}}</a></td>
                <td>{{entryQualification.content}}</td>
                <td>{{entryQualification.displayOrder}}</td>
                <td>
                    <div *ngIf="entryQualification.course">
                        <a [routerLink]="['../course', entryQualification.course?.id, 'view' ]" >{{entryQualification.course?.title}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/entry-qualification', entryQualification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entry-qualification', entryQualification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entry-qualification/'+ entryQualification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="entryQualifications && entryQualifications.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
