<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recordOfCertificate">
            <h2><span>Record Of Certificate</span> {{recordOfCertificate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{recordOfCertificate.name}}</span>
                </dd>
                <dt><span>Degree</span></dt>
                <dd>
                    <span>{{recordOfCertificate.degree}}</span>
                </dd>
                <dt><span>Student No</span></dt>
                <dd>
                    <span>{{recordOfCertificate.studentNo}}</span>
                </dd>
                <dt><span>Cert Number</span></dt>
                <dd>
                    <span>{{recordOfCertificate.certNumber}}</span>
                </dd>
                <dt><span>Cert Scan File</span></dt>
                <dd>
                    <div *ngIf="recordOfCertificate.certScanFile">
                        <a (click)="openFile(recordOfCertificate.certScanFileContentType, recordOfCertificate.certScanFile)">open</a>
                        {{recordOfCertificate.certScanFileContentType}}, {{byteSize(recordOfCertificate.certScanFile)}}
                    </div>
                </dd>
                <dt><span>Cert Date</span></dt>
                <dd>
                    <span>{{recordOfCertificate.certDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/record-of-certificate', recordOfCertificate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
