<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div style="height: 247px">
                <div
                    uib-carousel
                    active="active"
                    interval="myInterval"
                    no-wrap="noWrapSlides"
                >
                    <div
                        uib-slide
                        ng-repeat="slide in slides track by slide.id"
                        index="slide.id"
                    >
                        <img ng-src="{{ slide.image }}" style="margin: auto;" />
                        <div class="carousel-caption">
                            <!-- <h4>Slide {{slide.id}}</h4> -->
                            <!-- <p>{{slide.text}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6">
            <span ng-bind-html="vm.staticHtml"></span>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>Certification</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="text-align: justify">
                            "MIU in collaboration with Asia Pacific Seminary" is
                            Certified ISO 9001:2008 Organization since 2005 for
                            its quality management system in distance and online
                            learning for higher education by Anglo Japanese
                            American (AJA), a certification body of United
                            Kingdom Accreditation Services (UKAS). Below are
                            some information about our ISO accreditation.
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <!-- <div class="col-md-3" style="text-align: right">
                            <br />
                            <img
                                src="/content/images/logo-APS.png"
                                width="80px"
                                height="75px"
                                border="none"
                            />
                        </div>
                        <div class="col-md-4" style="text-align: center">
                            <img
                                src="/content/images/logo-AJA.png"
                                width="132px"
                                height="100px"
                                border="none"
                            /><br />
                            <center>
                                <span>AJA07/11853</span>
                            </center>
                        </div> -->
                        <div class="col-md-7" style="text-align: center">
                            <img
                                src="content/images/APS_ISO2.png"
                                style="height: 120px"
                            />
                        </div>
                        <div class="col-md-5">
                            <br />
                            <ul style="padding-left: 15px;">
                                <li>
                                    <a
                                        href="/content/certificates/02_AJA_Certificate2.jpg"
                                        target="_blank"
                                        >Registration Certificate</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/content/certificates/03_AJA_Certificate3.jpg"
                                        target="_blank"
                                        >Registration Schedule</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/content/certificates/01_LetterOfGoodStanding.pdf"
                                        target="_blank"
                                        >Certificate of Good Standing</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/content/certificates/accreditation.pdf"
                                        target="_blank"
                                        >Accreditation Information</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <b>News & Events</b>
                </div>

                <table class="table table-bordered table-news-events">
                    <tbody>
                        <tr ng-repeat="newsAndEvent in vm.newsAndEvents">
                            <td>
                                <div>
                                    <h4>
                                        <b>
                                            <div
                                                ng-if="newsAndEvent.websiteLink"
                                            >
                                                <a
                                                    href="{{
                                                        newsAndEvent.websiteLink
                                                    }}"
                                                    target="_blank"
                                                    style="color: #A85400"
                                                    >{{ newsAndEvent.title }}</a
                                                >
                                            </div>
                                            <div
                                                ng-if="!newsAndEvent.websiteLink"
                                            >
                                                <a
                                                    ui-sref="au-news-and-event-detail({id:newsAndEvent.id})"
                                                    style="color: #A85400"
                                                    >{{ newsAndEvent.title }}</a
                                                >
                                            </div>
                                        </b>
                                    </h4>
                                </div>
                                <div>
                                    {{
                                        newsAndEvent.startDT
                                            | date: "MMM dd, yyyy h:mm a"
                                    }}
                                    -
                                    {{
                                        newsAndEvent.endDT
                                            | date: "MMM dd, yyyy h:mm a"
                                    }}
                                </div>
                                <div>
                                    <i>Venue: {{ newsAndEvent.venue }}</i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body" ng-show="vm.newsAndEvents.length == 0">
                    <div>
                        <center>No news &amp; events.</center>
                    </div>
                </div>
                <div class="panel-footer news-events-footer">
                    <center>
                        <a ui-sref="au-news-and-event" class="btn btn-warning"
                            >View More</a
                        >
                    </center>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>Support &amp; Donations</b>
                </div>
                <div class="panel-body" style="text-align: justify">
                    Millennium International University is a not-for-profit
                    organization hosting who are dedicated to keeping religious
                    faith and experience in dialogue with higher education on
                    the online campus of MIU. The University receives no funding
                    and is funded by believers, Christians organization and
                    Churches. With your assistance, we can continue to train
                    more laborers into the harvest field to fulfill the Great
                    Commission and Great Commandment. Kindly donate generously.
                    <br />
                    <br />
                    <center>
                        <a
                            href="mailto:studentaffairs@miuedu.us"
                            target="_blank"
                            class="btn btn-primary"
                            >Donate</a
                        >
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
