<div>
    <h2>Registration Academic Details</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="registration-academic-details.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Registration Academic Details
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameOfInstitution2"><span>Name Of Institution 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="examPassed2"><span>Exam Passed 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year2"><span>Year 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="grade2"><span>Grade 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameOfInstitution3"><span>Name Of Institution 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="examPassed3"><span>Exam Passed 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year3"><span>Year 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="grade3"><span>Grade 3</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameOfInstitution4"><span>Name Of Institution 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="examPassed4"><span>Exam Passed 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year4"><span>Year 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="grade4"><span>Grade 4</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="md5key"><span>Md 5 Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameOfInstitution1"><span>Name Of Institution 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="examPassed1"><span>Exam Passed 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year1"><span>Year 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="grade1"><span>Grade 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registrationAcademicDetails in vm.registrationAcademicDetails track by registrationAcademicDetails.id">
                    <td><a ui-sref="registration-academic-details-detail({id:registrationAcademicDetails.id})">{{registrationAcademicDetails.id}}</a></td>
                    <td>{{registrationAcademicDetails.nameOfInstitution2}}</td>
                    <td>{{registrationAcademicDetails.examPassed2}}</td>
                    <td>{{registrationAcademicDetails.year2}}</td>
                    <td>{{registrationAcademicDetails.grade2}}</td>
                    <td>{{registrationAcademicDetails.nameOfInstitution3}}</td>
                    <td>{{registrationAcademicDetails.examPassed3}}</td>
                    <td>{{registrationAcademicDetails.year3}}</td>
                    <td>{{registrationAcademicDetails.grade3}}</td>
                    <td>{{registrationAcademicDetails.nameOfInstitution4}}</td>
                    <td>{{registrationAcademicDetails.examPassed4}}</td>
                    <td>{{registrationAcademicDetails.year4}}</td>
                    <td>{{registrationAcademicDetails.grade4}}</td>
                    <td>{{registrationAcademicDetails.md5key}}</td>
                    <td>{{registrationAcademicDetails.nameOfInstitution1}}</td>
                    <td>{{registrationAcademicDetails.examPassed1}}</td>
                    <td>{{registrationAcademicDetails.year1}}</td>
                    <td>{{registrationAcademicDetails.grade1}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="registration-academic-details-detail({id:registrationAcademicDetails.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registration-academic-details.edit({id:registrationAcademicDetails.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registration-academic-details.delete({id:registrationAcademicDetails.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
