<div>
	<h2>Student Payments</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="student-payment.new">
					<span class="glyphicon glyphicon-plus"></span> <span>
						Create new Student Payment </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse"
					callback="vm.transition()">
					<th jh-sort-by="id"><span>ID</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="createdDate"><span>Created Date</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="amount"><span>Amount</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="description"><span>Description</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="paymentDate"><span>Payment Date</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="paid"><span>Paid</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="user.login"><span>Student</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="course.title"><span>Course</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="paymentType.title"><span>Payment Type</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="studentPayment in vm.studentPayments track by studentPayment.id">
					<td><a
						ui-sref="student-payment-detail({id:studentPayment.id})">{{studentPayment.id}}</a></td>
					<td>{{studentPayment.createdDate | date:'medium'}}</td>
					<td>{{studentPayment.amount}}</td>
					<td>{{studentPayment.description}}</td>
					<td>{{studentPayment.paymentDate | date:'mediumDate'}}</td>
					<td>{{studentPayment.paid}}</td>
					<td>{{studentPayment.user.login}}</td>
					<td><a ui-sref="course-detail({id:studentPayment.course.id})">{{studentPayment.course.title}}</a>
					</td>
					<td><a
						ui-sref="payment-type-detail({id:studentPayment.paymentType.id})">{{studentPayment.paymentType.title}}</a>
					</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="student-payment-detail({id:studentPayment.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="student-payment.edit({id:studentPayment.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="student-payment.delete({id:studentPayment.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
	</div>
	<uib-pager total-items="vm.totalItems" ng-model="vm.page"
		ng-change="vm.transition()"></uib-pager>
</div>
