<div>
    <h2 id="page-heading">
        <span>Adjunct Faculties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adjunct-faculty" [routerLink]="['/adjunct-faculty/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Adjunct Faculty
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="adjunctFaculties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="showOrder"><span>Show Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lecturerProfile.user"><span>Lecturer Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adjunctFaculty of adjunctFaculties ;trackBy: trackId">
                <td><a [routerLink]="['/adjunct-faculty', adjunctFaculty.id, 'view' ]">{{adjunctFaculty.id}}</a></td>
                <td>{{adjunctFaculty.showOrder}}</td>
                <td>
                    <div *ngIf="adjunctFaculty.lecturerProfile">
                        <a [routerLink]="['../lecturer-profile', adjunctFaculty.lecturerProfile?.id, 'view' ]" >{{adjunctFaculty.lecturerProfile?.user}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/adjunct-faculty', adjunctFaculty.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/adjunct-faculty', adjunctFaculty.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adjunct-faculty/'+ adjunctFaculty.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="adjunctFaculties && adjunctFaculties.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
