
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myOnlineApplicationLabel">Online
			Application</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.onlineApplication.id">
			<label for="id">ID</label> <input type="text" class="form-control"
				id="id" name="id" ng-model="vm.onlineApplication.id" readonly />
		</div>

		<div class="form-group" ng-show="false">
			<label class="control-label" for="field_registrationDatetime">Registration
				Datetime</label>
			<div class="input-group">
				<input id="field_registrationDatetime" type="text"
					class="form-control" name="registrationDatetime"
					datetime-picker="{{dateformat}}"
					ng-model="vm.onlineApplication.registrationDatetime"
					is-open="vm.datePickerOpenStatus.registrationDatetime" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('registrationDatetime')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="field_course">Course</label> <select class="form-control"
				id="field_course" name="course"
				ng-model="vm.onlineApplication.course"
				ng-options="course as course.title for course in vm.courses track by course.id"
				required>
				<option value=""></option>
			</select>
		</div>
		<div ng-show="editForm.course.$invalid">
			<p class="help-block" ng-show="editForm.course.$error.required">
				This field is required.</p>
		</div>

		<div class="form-group">
			<label class="control-label" for="field_surname">Surname</label> <input
				type="text" class="form-control" name="surname" id="field_surname"
				ng-model="vm.onlineApplication.surname" required ng-maxlength="1000" />
			<div ng-show="editForm.surname.$invalid">
				<p class="help-block" ng-show="editForm.surname.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.surname.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_givenName">Given Name</label>
			<input type="text" class="form-control" name="givenName"
				id="field_givenName" ng-model="vm.onlineApplication.givenName"
				required ng-maxlength="1000" />
			<div ng-show="editForm.givenName.$invalid">
				<p class="help-block" ng-show="editForm.givenName.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.givenName.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="field_dateOfBirth">Date Of
				Birth</label>
			<div class="input-group">
				<input id="field_dateOfBirth" type="text" class="form-control"
					name="dateOfBirth" uib-datepicker-popup="{{dateformat}}"
					ng-model="vm.onlineApplication.dateOfBirth"
					is-open="vm.datePickerOpenStatus.dateOfBirth" required /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('dateOfBirth')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			<div ng-show="editForm.dateOfBirth.$invalid">
				<p class="help-block" ng-show="editForm.dateOfBirth.$error.required">
					This field is required.</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="field_nricNo">NRIC No</label> <input
				type="text" class="form-control" name="nricNo" id="field_nricNo"
				ng-model="vm.onlineApplication.nricNo" ng-maxlength="100" />
			<div ng-show="editForm.nricNo.$invalid">
				<p class="help-block" ng-show="editForm.nricNo.$error.maxlength">
					This field cannot be longer than 100 characters.</p>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="field_telephone">Telephone</label>
			<input type="text" class="form-control" name="telephone"
				id="field_telephone" ng-model="vm.onlineApplication.telephone"
				required ng-maxlength="1000" />
			<div ng-show="editForm.telephone.$invalid">
				<p class="help-block" ng-show="editForm.telephone.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.telephone.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_email">Email</label> <input
				type="text" class="form-control" name="email" id="field_email"
				ng-model="vm.onlineApplication.email" required />
			<div ng-show="editForm.email.$invalid">
				<p class="help-block" ng-show="editForm.email.$error.required">
					This field is required.</p>
			</div>
		</div>


		<div class="form-group">
			<label class="control-label" for="field_address">Address</label>
			<textarea type="text" class="form-control" name="address"
				id="field_address" ng-model="vm.onlineApplication.address" required
				ng-maxlength="3000" />
			<div ng-show="editForm.address.$invalid">
				<p class="help-block" ng-show="editForm.address.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.address.$error.maxlength">
					This field cannot be longer than 3000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_city">City</label> <input
				type="text" class="form-control" name="city" id="field_city"
				ng-model="vm.onlineApplication.city" required ng-maxlength="1000" />
			<div ng-show="editForm.city.$invalid">
				<p class="help-block" ng-show="editForm.city.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.city.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_state">State</label> <input
				type="text" class="form-control" name="state" id="field_state"
				ng-model="vm.onlineApplication.state" required ng-maxlength="1000" />
			<div ng-show="editForm.state.$invalid">
				<p class="help-block" ng-show="editForm.state.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.state.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_country">Country</label> <input
				type="text" class="form-control" name="country" id="field_country"
				ng-model="vm.onlineApplication.country" required ng-maxlength="1000" />
			<div ng-show="editForm.country.$invalid">
				<p class="help-block" ng-show="editForm.country.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.country.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_postcode">Postcode</label> <input
				type="text" class="form-control" name="postcode" id="field_postcode"
				ng-model="vm.onlineApplication.postcode" required
				ng-maxlength="1000" />
			<div ng-show="editForm.postcode.$invalid">
				<p class="help-block" ng-show="editForm.postcode.$error.required">
					This field is required.</p>
				<p class="help-block" ng-show="editForm.postcode.$error.maxlength">
					This field cannot be longer than 1000 characters.</p>
			</div>
		</div>

		<div class="form-group" ngf-drop
			ngf-change="vm.setApplicationForm($file, vm.onlineApplication)">
			<label class="control-label" for="field_applicationForm">Application
				Form</label>
			<div>
				<div ng-if="vm.onlineApplication.applicationForm"
					class="help-block clearfix">
					<a class="pull-left"
						ng-click="vm.openFile(vm.onlineApplication.applicationFormContentType, vm.onlineApplication.applicationForm)">open</a><br>
					<span class="pull-left">{{vm.onlineApplication.applicationFormContentType}},
						{{vm.byteSize(vm.onlineApplication.applicationForm)}}</span>
					<button type="button"
						ng-click="vm.onlineApplication.applicationForm=null;vm.onlineApplication.applicationFormContentType=null;"
						class="btn btn-default btn-xs pull-right">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
				<button type="button" ngf-select class="btn btn-default btn-block"
					ngf-change="vm.setApplicationForm($file, vm.onlineApplication)">
					Add blob</button>
			</div>
			<input type="hidden" class="form-control" name="applicationForm"
				id="field_applicationForm"
				ng-model="vm.onlineApplication.applicationForm" required /> <input
				type="hidden" class="form-control" name="applicationFormContentType"
				id="field_applicationFormContentType"
				ng-model="vm.onlineApplication.applicationFormContentType" />
			<div ng-show="editForm.applicationForm.$invalid">
				<p class="help-block"
					ng-show="editForm.applicationForm.$error.required">This field
					is required.</p>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
