<div>
	<div class="panel panel-primary">
		<div class="panel-heading">Online Application</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- Start Form -->

					<form name="editForm" role="form" novalidate ng-submit="vm.save()"
						show-validation>

						<div class="modal-body">
							<!-- <jhi-alert-error></jhi-alert-error> -->

							<div class="alert alert-success" ng-show="vm.success">
								<strong>Registration submitted!</strong>
							</div>

							<div class="alert alert-danger" ng-show="vm.error">
								<strong>Registration failed!</strong> Please try again later.
							</div>

							<div class="form-group" ng-show="vm.onlineApplication.id"
								ng-show="false">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id" name="id"
									ng-model="vm.onlineApplication.id" readonly />
							</div>

							<div class="form-group" ng-show="false">
								<label class="control-label" for="field_md5key">Md 5 Key</label>
								<input type="text" class="form-control" name="md5key"
									id="field_md5key" ng-model="vm.onlineApplication.md5key"
									readonly="readonly" />
							</div>
							<div class="form-group">
								<label for="field_course">Course</label> <select
									class="form-control" id="field_course" name="course"
									ng-model="vm.onlineApplication.course"
									ng-options="course as course.title for course in vm.courses track by course.id"
									required>
									<option value=""></option>
								</select>
							</div>
							<div ng-show="editForm.course.$invalid">
								<p class="help-block" ng-show="editForm.course.$error.required">
									This field is required.</p>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_email">Email</label> <input
									type="text" class="form-control" name="email" id="field_email"
									ng-model="vm.onlineApplication.email" required />
								<div ng-show="editForm.email.$invalid">
									<p class="help-block" ng-show="editForm.email.$error.required">
										This field is required.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_surname">Surname</label>
								<input type="text" class="form-control" name="surname"
									id="field_surname" ng-model="vm.onlineApplication.surname"
									required ng-maxlength="1000" />
								<div ng-show="editForm.surname.$invalid">
									<p class="help-block"
										ng-show="editForm.surname.$error.required">This field is
										required.</p>
									<p class="help-block"
										ng-show="editForm.surname.$error.maxlength">This field
										cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_givenName">Given
									Name</label> <input type="text" class="form-control" name="givenName"
									id="field_givenName" ng-model="vm.onlineApplication.givenName"
									required ng-maxlength="1000" />
								<div ng-show="editForm.givenName.$invalid">
									<p class="help-block"
										ng-show="editForm.givenName.$error.required">This field is
										required.</p>
									<p class="help-block"
										ng-show="editForm.givenName.$error.maxlength">This field
										cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_dateOfBirth">Date
									Of Birth</label>
								<div class="input-group">
									<input id="field_dateOfBirth" type="text" class="form-control"
										name="dateOfBirth" uib-datepicker-popup="{{dateformat}}"
										ng-model="vm.onlineApplication.dateOfBirth"
										is-open="vm.datePickerOpenStatus.dateOfBirth" required /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="vm.openCalendar('dateOfBirth')">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
								<div ng-show="editForm.dateOfBirth.$invalid">
									<p class="help-block"
										ng-show="editForm.dateOfBirth.$error.required">This field
										is required.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_telephone">Telephone</label>
								<input type="text" class="form-control" name="telephone"
									id="field_telephone" ng-model="vm.onlineApplication.telephone"
									required ng-maxlength="1000" />
								<div ng-show="editForm.telephone.$invalid">
									<p class="help-block"
										ng-show="editForm.telephone.$error.required">This field is
										required.</p>
									<p class="help-block"
										ng-show="editForm.telephone.$error.maxlength">This field
										cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_address">Address</label>
								<input type="text" class="form-control" name="address"
									id="field_address" ng-model="vm.onlineApplication.address"
									required ng-maxlength="3000" />
								<div ng-show="editForm.address.$invalid">
									<p class="help-block"
										ng-show="editForm.address.$error.required">This field is
										required.</p>
									<p class="help-block"
										ng-show="editForm.address.$error.maxlength">This field
										cannot be longer than 3000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_city">City</label> <input
									type="text" class="form-control" name="city" id="field_city"
									ng-model="vm.onlineApplication.city" required
									ng-maxlength="1000" />
								<div ng-show="editForm.city.$invalid">
									<p class="help-block" ng-show="editForm.city.$error.required">
										This field is required.</p>
									<p class="help-block" ng-show="editForm.city.$error.maxlength">
										This field cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_state">State</label> <input
									type="text" class="form-control" name="state" id="field_state"
									ng-model="vm.onlineApplication.state" required
									ng-maxlength="1000" />
								<div ng-show="editForm.state.$invalid">
									<p class="help-block" ng-show="editForm.state.$error.required">
										This field is required.</p>
									<p class="help-block" ng-show="editForm.state.$error.maxlength">
										This field cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_country">Country</label>
								<input type="text" class="form-control" name="country"
									id="field_country" ng-model="vm.onlineApplication.country"
									required ng-maxlength="1000" />
								<div ng-show="editForm.country.$invalid">
									<p class="help-block"
										ng-show="editForm.country.$error.required">This field is
										required.</p>
									<p class="help-block"
										ng-show="editForm.country.$error.maxlength">This field
										cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="field_postcode">Postcode</label>
								<input type="text" class="form-control" name="postcode"
									id="field_postcode" ng-model="vm.onlineApplication.postcode"
									required ng-maxlength="1000" />
								<div ng-show="editForm.postcode.$invalid">
									<p class="help-block"
										ng-show="editForm.postcode.$error.required">This field is
										required.</p>
									<p class="help-block"
										ng-show="editForm.postcode.$error.maxlength">This field
										cannot be longer than 1000 characters.</p>
								</div>
							</div>
							<div class="form-group" ng-show="false">
								<label class="control-label" for="field_registrationDatetime">Registration
									Datetime</label>
								<div class="input-group">
									<input id="field_registrationDatetime" type="text"
										class="form-control" name="registrationDatetime"
										datetime-picker="{{dateformat}}"
										ng-model="vm.onlineApplication.registrationDatetime"
										is-open="vm.datePickerOpenStatus.registrationDatetime" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="vm.openCalendar('registrationDatetime')">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>

							<!-- Academic Details -->
							<div class="form-group">
								<label for="academicDetails">Academic Details</label>
								<table class="table table-bordered">
									<tr class="info">
										<th>Name Of Institution</th>
										<th>Exam Passed</th>
										<th width="100px">Year</th>
										<th width="50px">Grade</th>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_nameOfInstitution1"
													ng-show="false">Name Of Institution 1</label> <input
													type="text" class="form-control" name="nameOfInstitution1"
													id="field_nameOfInstitution1"
													ng-model="vm.registrationAcademicDetails.nameOfInstitution1"
													required ng-maxlength="1000" />
												<div ng-show="editForm.nameOfInstitution1.$invalid">
													<p class="help-block"
														ng-show="editForm.nameOfInstitution1.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_examPassed1"
													ng-show="false">Exam Passed 1</label> <input type="text"
													class="form-control" name="examPassed1"
													id="field_examPassed1"
													ng-model="vm.registrationAcademicDetails.examPassed1"
													required ng-maxlength="1000" />
												<div ng-show="editForm.examPassed1.$invalid">
													<p class="help-block"
														ng-show="editForm.examPassed1.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_year1"
													ng-show="false">Year 1</label> <input type="number"
													class="form-control" name="year1" id="field_year1"
													ng-model="vm.registrationAcademicDetails.year1" required
													min="1900" max="9999" />
												<div ng-show="editForm.year1.$invalid">
													<p class="help-block" ng-show="editForm.year1.$error.min"
														translate-value-min="1900">This field should be more
														than 1900.</p>
													<p class="help-block" ng-show="editForm.year1.$error.max">This
														field cannot be more than 9999.</p>
													<p class="help-block"
														ng-show="editForm.year1.$error.number">This field
														should be a number.</p>
												</div>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_grade1"
													ng-show="false">Grade 1</label> <input type="text"
													class="form-control" name="grade1" id="field_grade1"
													ng-model="vm.registrationAcademicDetails.grade1" required />
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="form-group">
												<label class="control-label" for="field_nameOfInstitution2"
													ng-show="false">Name Of Institution 2</label> <input
													type="text" class="form-control" name="nameOfInstitution2"
													id="field_nameOfInstitution2"
													ng-model="vm.registrationAcademicDetails.nameOfInstitution2"
													ng-maxlength="1000" />
												<div ng-show="editForm.nameOfInstitution2.$invalid">
													<p class="help-block"
														ng-show="editForm.nameOfInstitution2.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div></td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_examPassed2"
													ng-show="false">Exam Passed 2</label> <input type="text"
													class="form-control" name="examPassed2"
													id="field_examPassed2"
													ng-model="vm.registrationAcademicDetails.examPassed2"
													ng-maxlength="1000" />
												<div ng-show="editForm.examPassed2.$invalid">
													<p class="help-block"
														ng-show="editForm.examPassed2.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div>
										</td>
										<td><div class="form-group">
												<label class="control-label" for="field_year2"
													ng-show="false">Year 2</label> <input type="number"
													class="form-control" name="year2" id="field_year2"
													ng-model="vm.registrationAcademicDetails.year2" min="1900"
													max="9999" />
												<div ng-show="editForm.year2.$invalid">
													<p class="help-block" ng-show="editForm.year2.$error.min"
														translate-value-min="1900">This field should be more
														than 1900.</p>
													<p class="help-block" ng-show="editForm.year2.$error.max">This
														field cannot be more than 9999.</p>
													<p class="help-block"
														ng-show="editForm.year2.$error.number">This field
														should be a number.</p>
												</div>
											</div></td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_grade2"
													ng-show="false">Grade 2</label> <input type="text"
													class="form-control" name="grade2" id="field_grade2"
													ng-model="vm.registrationAcademicDetails.grade2" />
											</div>
										</td>
									</tr>
									<tr>
										<td><div class="form-group">
												<label class="control-label" for="field_nameOfInstitution3"
													ng-show="false">Name Of Institution 3</label> <input
													type="text" class="form-control" name="nameOfInstitution3"
													id="field_nameOfInstitution3"
													ng-model="vm.registrationAcademicDetails.nameOfInstitution3"
													ng-maxlength="1000" />
												<div ng-show="editForm.nameOfInstitution3.$invalid">
													<p class="help-block"
														ng-show="editForm.nameOfInstitution3.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div></td>
										<td><div class="form-group">
												<label class="control-label" for="field_examPassed3"
													ng-show="false">Exam Passed 3</label> <input type="text"
													class="form-control" name="examPassed3"
													id="field_examPassed3"
													ng-model="vm.registrationAcademicDetails.examPassed3"
													ng-maxlength="1000" />
												<div ng-show="editForm.examPassed3.$invalid">
													<p class="help-block"
														ng-show="editForm.examPassed3.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div></td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_year3"
													ng-show="false">Year 3</label> <input type="number"
													class="form-control" name="year3" id="field_year3"
													ng-model="vm.registrationAcademicDetails.year3" min="1900"
													max="9999" />
												<div ng-show="editForm.year3.$invalid">
													<p class="help-block" ng-show="editForm.year3.$error.min"
														translate-value-min="1900">This field should be more
														than 1900.</p>
													<p class="help-block" ng-show="editForm.year3.$error.max">This
														field cannot be more than 9999.</p>
													<p class="help-block"
														ng-show="editForm.year3.$error.number">This field
														should be a number.</p>
												</div>
											</div>
										</td>
										<td><div class="form-group">
												<label class="control-label" for="field_grade3"
													ng-show="false">Grade 3</label> <input type="text"
													class="form-control" name="grade3" id="field_grade3"
													ng-model="vm.registrationAcademicDetails.grade3" />
											</div></td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_nameOfInstitution4"
													ng-show="false">Name Of Institution 4</label> <input
													type="text" class="form-control" name="nameOfInstitution4"
													id="field_nameOfInstitution4"
													ng-model="vm.registrationAcademicDetails.nameOfInstitution4"
													ng-maxlength="1000" />
												<div ng-show="editForm.nameOfInstitution4.$invalid">
													<p class="help-block"
														ng-show="editForm.nameOfInstitution4.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_examPassed4"
													ng-show="false">Exam Passed 4</label> <input type="text"
													class="form-control" name="examPassed4"
													id="field_examPassed4"
													ng-model="vm.registrationAcademicDetails.examPassed4"
													ng-maxlength="1000" />
												<div ng-show="editForm.examPassed4.$invalid">
													<p class="help-block"
														ng-show="editForm.examPassed4.$error.maxlength">This
														field cannot be longer than 1000 characters.</p>
												</div>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_year4"
													ng-show="false">Year 4</label> <input type="number"
													class="form-control" name="year4" id="field_year4"
													ng-model="vm.registrationAcademicDetails.year4" min="1900"
													max="9999" />
												<div ng-show="editForm.year4.$invalid">
													<p class="help-block" ng-show="editForm.year4.$error.min"
														translate-value-min="1900">This field should be more
														than 1900.</p>
													<p class="help-block" ng-show="editForm.year4.$error.max">This
														field cannot be more than 9999.</p>
													<p class="help-block"
														ng-show="editForm.year4.$error.number">This field
														should be a number.</p>
												</div>
											</div>
										</td>
										<td>
											<div class="form-group">
												<label class="control-label" for="field_grade4"
													ng-show="false">Grade 4</label> <input type="text"
													class="form-control" name="grade4" id="field_grade4"
													ng-model="vm.registrationAcademicDetails.grade4" />
											</div>
										</td>
									</tr>
								</table>
							</div>

							<div class="form-group"
								ng-show="vm.registrationAcademicDetails.id">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id" name="id"
									ng-model="vm.registrationAcademicDetails.id" readonly />
							</div>
							<div class="form-group" ng-show="false">
								<label class="control-label" for="field_md5key">Md 5 Key</label>
								<input type="text" class="form-control" name="md5key"
									id="field_md5key"
									ng-model="vm.registrationAcademicDetails.md5key"
									readonly="readonly" />
							</div>
							<!-- End Academic Details -->

							<!-- Start Ministerial Work Experience -->
							<div class="form-group" ng-show="vm.ministerialWorkExperience.id"
								ng-show="false">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id" name="id"
									ng-model="vm.ministerialWorkExperience.id" readonly />
							</div>
							<div class="form-group">
								<label for="mweDetails">Ministerial Work Experience</label>
								<table class="table table-bordered">
									<tr class="info">
										<th>Name Of Ministry</th>
										<th>Area in Ministry</th>
										<th width="100px">No. of Years</th>
									</tr>
									<tr>
										<td>
											<!-- <label class="control-label"
											for="field_nameOfMinistry1">Name Of Ministry 1</label> --> <input
											type="text" class="form-control" name="nameOfMinistry1"
											id="field_nameOfMinistry1"
											ng-model="vm.ministerialWorkExperience.nameOfMinistry1"
											required ng-maxlength="1000" />
											<div ng-show="editForm.nameOfMinistry1.$invalid">
												<p class="help-block"
													ng-show="editForm.nameOfMinistry1.$error.required">This
													field is required.</p>
												<p class="help-block"
													ng-show="editForm.nameOfMinistry1.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label"
											for="field_areaOfMinistry1">Area Of Ministry 1</label> --> <input
											type="text" class="form-control" name="areaOfMinistry1"
											id="field_areaOfMinistry1"
											ng-model="vm.ministerialWorkExperience.areaOfMinistry1"
											required ng-maxlength="1000" />
											<div ng-show="editForm.areaOfMinistry1.$invalid">
												<p class="help-block"
													ng-show="editForm.areaOfMinistry1.$error.required">This
													field is required.</p>
												<p class="help-block"
													ng-show="editForm.areaOfMinistry1.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label" for="field_years1">Years
												1</label> --> <input type="number" class="form-control"
											name="years1" id="field_years1"
											ng-model="vm.ministerialWorkExperience.years1" required
											min="1" max="100" />
											<div ng-show="editForm.years1.$invalid">
												<p class="help-block"
													ng-show="editForm.years1.$error.required">This field is
													required.</p>
												<p class="help-block" ng-show="editForm.years1.$error.min"
													translate-value-min="1">This field should be more than
													0.</p>
												<p class="help-block" ng-show="editForm.years1.$error.max">This
													field cannot be more than 100.</p>
												<p class="help-block"
													ng-show="editForm.years1.$error.number">This field
													should be a number.</p>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<!-- <label class="control-label"
											for="field_nameOfMinistry2">Name Of Ministry 2</label> --> <input
											type="text" class="form-control" name="nameOfMinistry2"
											id="field_nameOfMinistry2"
											ng-model="vm.ministerialWorkExperience.nameOfMinistry2"
											ng-maxlength="1000" />
											<div ng-show="editForm.nameOfMinistry2.$invalid">
												<p class="help-block"
													ng-show="editForm.nameOfMinistry2.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label"
											for="field_areaOfMinistry2">Area Of Ministry 2</label> --> <input
											type="text" class="form-control" name="areaOfMinistry2"
											id="field_areaOfMinistry2"
											ng-model="vm.ministerialWorkExperience.areaOfMinistry2"
											ng-maxlength="1000" />
											<div ng-show="editForm.areaOfMinistry2.$invalid">
												<p class="help-block"
													ng-show="editForm.areaOfMinistry2.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label" for="field_years2">Years
												2</label> --> <input type="number" class="form-control"
											name="years2" id="field_years2"
											ng-model="vm.ministerialWorkExperience.years2" min="1"
											max="100" />
											<div ng-show="editForm.years2.$invalid">
												<p class="help-block" ng-show="editForm.years2.$error.min"
													translate-value-min="1">This field should be more than
													0.</p>
												<p class="help-block" ng-show="editForm.years2.$error.max">This
													field cannot be more than 100.</p>
												<p class="help-block"
													ng-show="editForm.years2.$error.number">This field
													should be a number.</p>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<!-- <label class="control-label"
											for="field_nameOfMinistry3">Name Of Ministry 3</label> --> <input
											type="text" class="form-control" name="nameOfMinistry3"
											id="field_nameOfMinistry3"
											ng-model="vm.ministerialWorkExperience.nameOfMinistry3"
											ng-maxlength="1000" />
											<div ng-show="editForm.nameOfMinistry3.$invalid">
												<p class="help-block"
													ng-show="editForm.nameOfMinistry3.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label"
											for="field_areaOfMinistry3">Area Of Ministry 3</label> --> <input
											type="text" class="form-control" name="areaOfMinistry3"
											id="field_areaOfMinistry3"
											ng-model="vm.ministerialWorkExperience.areaOfMinistry3"
											ng-maxlength="1000" />
											<div ng-show="editForm.areaOfMinistry3.$invalid">
												<p class="help-block"
													ng-show="editForm.areaOfMinistry3.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label" for="field_years3">Years
												3</label> --> <input type="number" class="form-control"
											name="years3" id="field_years3"
											ng-model="vm.ministerialWorkExperience.years3" min="1"
											max="100" />
											<div ng-show="editForm.years3.$invalid">
												<p class="help-block" ng-show="editForm.years3.$error.min"
													translate-value-min="0">This field should be more than
													0.</p>
												<p class="help-block" ng-show="editForm.years3.$error.max">This
													field cannot be more than 100.</p>
												<p class="help-block"
													ng-show="editForm.years3.$error.number">This field
													should be a number.</p>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<!-- <label class="control-label"
											for="field_nameOfMinistry4">Name Of Ministry 4</label> --> <input
											type="text" class="form-control" name="nameOfMinistry4"
											id="field_nameOfMinistry4"
											ng-model="vm.ministerialWorkExperience.nameOfMinistry4"
											ng-maxlength="1000" />
											<div ng-show="editForm.nameOfMinistry4.$invalid">
												<p class="help-block"
													ng-show="editForm.nameOfMinistry4.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label"
											for="field_areaOfMinistry4">Area Of Ministry 4</label> --> <input
											type="text" class="form-control" name="areaOfMinistry4"
											id="field_areaOfMinistry4"
											ng-model="vm.ministerialWorkExperience.areaOfMinistry4"
											ng-maxlength="1000" />
											<div ng-show="editForm.areaOfMinistry4.$invalid">
												<p class="help-block"
													ng-show="editForm.areaOfMinistry4.$error.maxlength">This
													field cannot be longer than 1000 characters.</p>
											</div>
										</td>
										<td>
											<!-- <label class="control-label" for="field_years4">Years
												4</label> --> <input type="number" class="form-control"
											name="years4" id="field_years4"
											ng-model="vm.ministerialWorkExperience.years4" min="1"
											max="100" />
											<div ng-show="editForm.years4.$invalid">
												<p class="help-block" ng-show="editForm.years4.$error.min"
													translate-value-min="1">This field should be more than
													0.</p>
												<p class="help-block" ng-show="editForm.years4.$error.max">This
													field cannot be more than 100.</p>
												<p class="help-block"
													ng-show="editForm.years4.$error.number">This field
													should be a number.</p>
											</div>
										</td>
									</tr>
								</table>
							</div>

							<div class="form-group" ng-show="false">
								<label class="control-label" for="field_md5Key">Md 5 Key</label>
								<input type="text" class="form-control" name="md5Key"
									id="field_md5Key"
									ng-model="vm.ministerialWorkExperience.md5Key"
									readonly="readonly" />
							</div>
							<!-- End Ministerial Work Experience -->

							<div class="form-group" ngf-drop
								ngf-change="vm.setProfilePhoto($file, vm.onlineApplication)"
								ngf-pattern="'image/*'">
								<label class="control-label" for="field_profilePhoto">Profile
									Photo</label>
								<div>
									<img
										data-ng-src="{{'data:' + vm.onlineApplication.profilePhotoContentType + ';base64,' + vm.onlineApplication.profilePhoto}}"
										style="max-height: 100px;"
										ng-if="vm.onlineApplication.profilePhoto"
										alt="onlineApplication image" />
									<div ng-if="vm.onlineApplication.profilePhoto"
										class="help-block clearfix">
										<span class="pull-left">{{vm.onlineApplication.profilePhotoContentType}},
											{{vm.byteSize(vm.onlineApplication.profilePhoto)}}</span>
										<button type="button"
											ng-click="vm.onlineApplication.profilePhoto=null;vm.onlineApplication.profilePhotoContentType=null;"
											class="btn btn-default btn-xs pull-right">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
									<button type="button" ngf-select
										class="btn btn-default btn-block"
										ngf-change="vm.setProfilePhoto($file, vm.onlineApplication)"
										accept="image/*">Add image</button>
								</div>
								<input type="hidden" class="form-control" name="profilePhoto"
									id="field_profilePhoto"
									ng-model="vm.onlineApplication.profilePhoto" /> <input
									type="hidden" class="form-control"
									name="profilePhotoContentType"
									id="field_profilePhotoContentType"
									ng-model="vm.onlineApplication.profilePhotoContentType" />
							</div>
							<div class="form-group" ngf-drop
								ngf-change="vm.setAcademicCertificate($file, vm.onlineApplication)">
								<label class="control-label" for="field_academicCertificate">Academic
									Certificate</label>
								<div>
									<div ng-if="vm.onlineApplication.academicCertificate"
										class="help-block clearfix">
										<a class="pull-left"
											ng-click="vm.openFile(vm.onlineApplication.academicCertificateContentType, vm.onlineApplication.academicCertificate)">open</a><br>
										<span class="pull-left">{{vm.onlineApplication.academicCertificateContentType}},
											{{vm.byteSize(vm.onlineApplication.academicCertificate)}}</span>
										<button type="button"
											ng-click="vm.onlineApplication.academicCertificate=null;vm.onlineApplication.academicCertificateContentType=null;"
											class="btn btn-default btn-xs pull-right">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
									<button type="button" ngf-select
										class="btn btn-default btn-block"
										ngf-change="vm.setAcademicCertificate($file, vm.onlineApplication)">
										Add File</button>
								</div>
								<input type="hidden" class="form-control"
									name="academicCertificate" id="field_academicCertificate"
									ng-model="vm.onlineApplication.academicCertificate" /> <input
									type="hidden" class="form-control"
									name="academicCertificateContentType"
									id="field_academicCertificateContentType"
									ng-model="vm.onlineApplication.academicCertificateContentType" />
							</div>
							<div class="form-group" ngf-drop
								ngf-change="vm.setLetterOfRecommendation($file, vm.onlineApplication)">
								<label class="control-label" for="field_letterOfRecommendation">Letter
									Of Recommendation</label>
								<div>
									<div ng-if="vm.onlineApplication.letterOfRecommendation"
										class="help-block clearfix">
										<a class="pull-left"
											ng-click="vm.openFile(vm.onlineApplication.letterOfRecommendationContentType, vm.onlineApplication.letterOfRecommendation)">open</a><br>
										<span class="pull-left">{{vm.onlineApplication.letterOfRecommendationContentType}},
											{{vm.byteSize(vm.onlineApplication.letterOfRecommendation)}}</span>
										<button type="button"
											ng-click="vm.onlineApplication.letterOfRecommendation=null;vm.onlineApplication.letterOfRecommendationContentType=null;"
											class="btn btn-default btn-xs pull-right">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
									<button type="button" ngf-select
										class="btn btn-default btn-block"
										ngf-change="vm.setLetterOfRecommendation($file, vm.onlineApplication)">
										Add File</button>
								</div>
								<input type="hidden" class="form-control"
									name="letterOfRecommendation" id="field_letterOfRecommendation"
									ng-model="vm.onlineApplication.letterOfRecommendation" /> <input
									type="hidden" class="form-control"
									name="letterOfRecommendationContentType"
									id="field_letterOfRecommendationContentType"
									ng-model="vm.onlineApplication.letterOfRecommendationContentType" />
							</div>
							<div class="form-group" ngf-drop
								ngf-change="vm.setProfileDocument($file, vm.onlineApplication)">
								<label class="control-label" for="field_profileDocument">Profile
									Document</label>
								<div>
									<div ng-if="vm.onlineApplication.profileDocument"
										class="help-block clearfix">
										<a class="pull-left"
											ng-click="vm.openFile(vm.onlineApplication.profileDocumentContentType, vm.onlineApplication.profileDocument)">open</a><br>
										<span class="pull-left">{{vm.onlineApplication.profileDocumentContentType}},
											{{vm.byteSize(vm.onlineApplication.profileDocument)}}</span>
										<button type="button"
											ng-click="vm.onlineApplication.profileDocument=null;vm.onlineApplication.profileDocumentContentType=null;"
											class="btn btn-default btn-xs pull-right">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
									<button type="button" ngf-select
										class="btn btn-default btn-block"
										ngf-change="vm.setProfileDocument($file, vm.onlineApplication)">
										Add File</button>
								</div>
								<input type="hidden" class="form-control" name="profileDocument"
									id="field_profileDocument"
									ng-model="vm.onlineApplication.profileDocument" /> <input
									type="hidden" class="form-control"
									name="profileDocumentContentType"
									id="field_profileDocumentContentType"
									ng-model="vm.onlineApplication.profileDocumentContentType" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit"
								ng-disabled="editForm.$invalid || vm.isSaving"
								class="btn btn-primary">
								<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
							</button>
						</div>
					</form>
				</div>
			</div>

			<!-- End Form -->
		</div>
	</div>
	<br />
</div>
</div>